<template>
  <v-footer height="50" class="d-block text-center">
    {{ new Date().getFullYear() }} — <strong>© Personnel Management</strong>
  </v-footer>
</template>
<script>
export default {
  name: 'Footer',
  computed: {
    appVersion() {
      return this.$store.getters.appVersion
    }
  }
}
</script>
