<template v-slot:activator="{ on }">
  <div>
    <v-app-bar flat>
      <span class="hidden-lg-and-up">
        <v-app-bar-nav-icon @click="sidebar = !sidebar"></v-app-bar-nav-icon>
      </span>
      <v-img
        src="../../../public/buu-logo.png"
        alt="buu-logo"
        max-height="50"
        max-width="50"
      />

      <div class="title text-uppercase ml-2">
        <router-link
          :to="{ name: 'userProfile' }"
          tag="span"
          style="cursor: pointer"
          v-if="isTokenSet"
          >{{ appTitle }}</router-link
        >
        <router-link
          :to="{ name: 'login' }"
          tag="span"
          style="cursor: pointer"
          v-else
          >{{ appTitle }}</router-link
        >
      </div>

      <v-spacer></v-spacer>
      <v-toolbar-items>
        <template v-if="!isTokenSet">
          <v-btn
            text
            v-for="(item, index) in menuItems"
            :key="index"
            :to="{ name: item.link }"
            exact
            :class="['hidden-md-and-down', item.class]"
          >
            <v-icon>{{ item.icon }}</v-icon>
            &nbsp;{{ item.title }}
          </v-btn>
        </template>

        <v-menu v-if="isTokenSet" offset-y>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" text class="btnAdmin hidden-md-and-down">
              <v-icon>mdi-account-tie</v-icon>
              &nbsp;{{ $t('myGovernmentItems.MY_GOVERNMENT') }}
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="(item, index) in myGovernmentItems"
              :key="index"
              :to="{ name: item.link }"
              exact
              :class="[item.class]"
            >
              <v-list-item-icon class="mr-2">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-menu v-if="admin" offset-y>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" text class="btnAdmin hidden-md-and-down">
              <v-icon>mdi-lock</v-icon>
              &nbsp;{{ $t('adminItems.MENUADMIN') }}
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="(item, index) in adminItems"
              :key="index"
              :to="{ name: item.link }"
              exact
              :class="[item.class]"
            >
              <v-list-item-icon class="mr-2">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-list-item class="hidden-md-and-down" outlined>
          <v-icon>mdi-weather-sunny</v-icon>
          <v-list-item-action>
            <v-switch v-model="isDark" inset></v-switch>
          </v-list-item-action>
          <v-icon class="pl-2">mdi-weather-night</v-icon>
        </v-list-item>

        <v-menu v-if="isTokenSet" offset-y>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" text class="btnAdmin hidden-md-and-down">
              <v-icon>mdi-account-circle-outline</v-icon>
              &nbsp;{{ $t('myAccountItems.MY_ACCOUNT') }}
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="(item, index) in myAccountItems"
              :key="index"
              :to="{ name: item.link }"
              exact
              :class="[item.class]"
            >
              <v-list-item-icon class="mr-2">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="isTokenSet" @click="userLogout">
              <v-list-item-action class="mr-2">
                <v-icon>mdi-exit-to-app</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                {{ $t('myAccountItems.LOGOUT') }}
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
        <LocaleChanger />
      </v-toolbar-items>
    </v-app-bar>
    <v-navigation-drawer v-model="sidebar" absolute disable-resize-watcher>
      <v-list>
        <v-list-item>
          <v-list-item-content>{{ appTitle }}</v-list-item-content>
          <v-list-item-action>
            <v-btn icon @click.stop="sidebar = !sidebar">
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
        <v-list v-if="!isTokenSet">
          <v-list-item
            v-for="(item, index) in menuItems"
            :key="index"
            :to="{ name: item.link }"
            exact
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
        <v-list-group
          v-if="isTokenSet"
          prepend-icon="mdi-account-tie"
          no-action
        >
          <v-list-item slot="activator" class="pl-0">
            <v-list-item-content>{{
              $t('myGovernmentItems.MY_GOVERNMENT')
            }}</v-list-item-content>
          </v-list-item>
          <v-list-item
            v-for="(item, index) in myGovernmentItems"
            :key="index"
            :to="{ name: item.link }"
            exact
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list-group>
        <v-list-group v-if="admin" prepend-icon="mdi-lock" no-action>
          <v-list-item slot="activator" class="pl-0">
            <v-list-item-content>{{
              $t('adminItems.MENUADMIN')
            }}</v-list-item-content>
          </v-list-item>
          <v-list-item
            v-for="(item, index) in adminItems"
            :key="index"
            :to="{ name: item.link }"
            exact
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list-group>
        <v-list-group
          v-if="isTokenSet"
          prepend-icon="mdi-account-circle-outline"
          no-action
        >
          <v-list-item slot="activator" class="pl-0">
            <v-list-item-content>{{
              $t('myAccountItems.MY_ACCOUNT')
            }}</v-list-item-content>
          </v-list-item>
          <v-list-item
            v-for="(item, index) in myAccountItems"
            :key="index"
            :to="{ name: item.link }"
            exact
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
          <v-list-item v-if="isTokenSet" @click="userLogout">
            <v-list-item-action>
              <v-icon>mdi-exit-to-app</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              {{ $t('myAccountItems.LOGOUT') }}
            </v-list-item-content>
          </v-list-item>
        </v-list-group>

        <v-list-item>
          <v-list-item-action></v-list-item-action>
          <v-icon>mdi-weather-sunny</v-icon>
          <v-list-item-action class="ml-2">
            <v-switch id="themeSwitcher" v-model="isDark" inset></v-switch>
          </v-list-item-action>
          <v-icon>mdi-weather-night</v-icon>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import LocaleChanger from '@/components/core/LocaleChanger'
import ResizeText from 'vue-resize-text'

export default {
  name: 'Toolbar',
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      meta: [
        { name: 'msapplication-TileColor', content: '#ffc40d' },
        { name: 'theme-color', content: '#ffffff' },
        {
          name: 'apple-mobile-web-app-title',
          content: this.$store.getters.appTitle
        },
        { name: 'application-name', content: this.$store.getters.appTitle }
      ],
      link: [
        {
          rel: 'apple-touch-icon',
          sizes: '180x180',
          href: '/apple-touch-icon.png'
        },
        {
          rel: 'icon',
          type: 'image/png',
          sizes: '32x32',
          href: '/favicon-32x32.png'
        },
        {
          rel: 'icon',
          type: 'image/png',
          sizes: '16x16',
          href: '/favicon-16x16.png'
        },
        { rel: 'manifest', href: '/site.webmanifest' },
        { rel: 'mask-icon', color: '#5bbad5', href: '/safari-pinned-tab.svg' },
        { rel: 'favicon', href: '/favicon.ico' }
      ]
    }
  },
  components: {
    LocaleChanger
  },
  directives: {
    ResizeText
  },
  data() {
    return {
      isDark: false,
      sidebar: false
    }
  },
  computed: {
    ...mapGetters(['appTitle', 'isTokenSet', 'user']),
    admin() {
      return this.user !== null ? this.user.role === 'admin' : false
    },
    menuItems() {
      return [
        {
          title: this.$t('menuItems.LOGIN'),
          link: 'login',
          icon: 'mdi-lock',
          class: 'btnLogin'
        }
      ]
    },
    adminItems() {
      return [
        {
          title: this.$t('adminItems.PERSONNEL'),
          link: 'admin-personnel',
          icon: 'mdi-account-supervisor',
          class: 'btnAdminPersonnel'
        },
        {
          title: this.$t('adminItems.LEAVES'),
          link: 'admin-leaves',
          icon: 'mdi-email-outline',
          class: 'btnAdminLeaves'
        },
        {
          title: this.$t('adminItems.TRAININGS'),
          link: 'admin-trainings',
          icon: 'mdi-account-group',
          class: 'btnAdminTrainings'
        },
        {
          title: this.$t('adminItems.RESEARCHES'),
          link: 'admin-researches',
          icon: 'mdi-clipboard-file-outline',
          class: 'btnAdminResearches'
        },
        {
          title: this.$t('adminItems.INSIGNIAS'),
          link: 'admin-insignias',
          icon: 'mdi-school',
          class: 'btnAdminInsignias'
        }
      ]
    },
    myAccountItems() {
      if (this.isTokenSet) {
        return [
          {
            title: this.$t('myAccountItems.PROFILE'),
            link: 'userProfile',
            icon: 'mdi-face-profile',
            class: 'btnProfile'
          },
          {
            title: this.$t('myAccountItems.LEAVE'),
            link: 'userLeave',
            icon: 'mdi-email-outline',
            class: 'btnProfile'
          }
        ]
      }
      return [
        {
          title: this.$t('myAccountItems.ABOUT'),
          link: 'about',
          icon: 'mdi-help-circle-outline',
          class: 'btnAbout'
        },
        {
          title: this.$t('myAccountItems.LOGIN'),
          link: 'login',
          icon: 'mdi-lock',
          class: 'btnLogin'
        }
      ]
    },
    myGovernmentItems() {
      if (this.isTokenSet) {
        return [
          {
            title: this.$t('myGovernmentItems.TRAINING'),
            link: 'userTraining',
            icon: 'mdi-account-group-outline',
            class: 'btnTraining'
          },
          {
            title: this.$t('myGovernmentItems.RESEARCH'),
            link: 'userResearch',
            icon: 'mdi-clipboard-edit-outline',
            class: 'btnResearch'
          },
          {
            title: this.$t('myGovernmentItems.INSIGNIA'),
            link: 'userInsignia',
            icon: 'mdi-school-outline',
            class: 'btnInsigna'
          }
        ]
      }
      return []
    }
  },
  methods: {
    userLogout() {
      this.$store.dispatch('userLogout')
    }
  },
  watch: {
    isDark() {
      this.$vuetify.theme.dark = this.isDark
      localStorage.setItem('dark', this.isDark)
    }
  },
  created() {
    const dark = localStorage.getItem('dark')
    this.isDark = dark ? JSON.parse(dark) : false
  }
}
</script>
