<template>
  <div>
    <v-layout row wrap>
      <Heading :title="$t('insignia.TITLE')" />
    </v-layout>
    <v-data-table
      :loading="dataTableLoading"
      :no-data-text="$t('dataTable.NO_DATA')"
      :no-results-text="$t('dataTable.NO_RESULTS')"
      :headers="headers"
      :items="itemInsignias"
      :options.sync="pagination"
      :items-per-page="5"
      :server-items-length="totalItems"
      class="elevation-1"
      :footer-props="{
        'items-per-page-text': $t('dataTable.ROWS_PER_PAGE'),
        'items-per-page-options': [5, 10, 25]
      }"
    >
      <template v-slot:top>
        <v-layout wrap>
          <v-flex xs12 sm12 md4 mt-3 pl-4>
            <div class="text-left">
              <v-toolbar-title>{{ $t('insignia.TITLE') }}</v-toolbar-title>
            </div>
          </v-flex>
          <v-flex xs12 sm6 md4 px-3>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              :label="$t('dataTable.SEARCH')"
              id="search"
              single-line
              hide-details
              clearable
              clear-icon="mdi-close"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm12 md3 mt-3 pl-4>
            <v-select
              label="ปีที่ค้นหา"
              dense
              v-model="yearFilterValue"
              :items="year"
              single-line
              hide-details
              clearable
              clear-icon="mdi-close"
            ></v-select>
          </v-flex>
          <v-flex xs12 sm6 md4 text-xs-right mb-2 mt-2 pr-2>
            <ValidationObserver
              ref="observer"
              v-slot="{ invalid }"
              tag="form"
              @submit.prevent="submit()"
              data-vv-scope="form-4"
            >
              <v-dialog
                overlay-color="light"
                class="max-height1"
                v-model="dialog"
                persistent
                max-width="1300px"
                content-class="dlgNewEditItem"
              >
                <div>
                  <v-card>
                    <v-card flat>
                      <v-card-text>
                        <v-layout row wrap>
                          <v-flex>
                            <template>
                              <div>
                                <v-data-table
                                  :loading="dataTableLoading"
                                  :no-data-text="$t('insignia.NO_DATA')"
                                  :no-results-text="$t('insignia.NO_RESULTS')"
                                  :headers="headersInsignias"
                                  :items="positionPromoteItems"
                                  :options.sync="pagination"
                                  :items-per-page="5"
                                  :search="searchPos"
                                  class="elevation-1"
                                  :footer-props="{
                                    'items-per-page-text': $t(
                                      'dataTable.ROWS_PER_PAGE'
                                    ),
                                    'items-per-page-options': [5, 10, 25]
                                  }"
                                >
                                  <template v-slot:top>
                                    <v-flex xs12 sm10 offset-sm2 mb-0>
                                      <v-layout wrap>
                                        <v-flex xs12 md6 mt-2>
                                          <v-text-field
                                            id="fullname"
                                            name="fullname"
                                            type="text"
                                            :label="$t('insignia.FULLNAME')"
                                            v-model="fullname"
                                            autocomplete="off"
                                            rounded
                                            readonly
                                          ></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 md6 mt-2>
                                          <v-text-field
                                            id="appointDay"
                                            name="appointDay"
                                            type="text"
                                            :value="formatDate(appointDay)"
                                            :label="$t('insignia.APPOINTDAY')"
                                            autocomplete="off"
                                            rounded
                                            readonly
                                          >
                                          </v-text-field>
                                        </v-flex>
                                      </v-layout>
                                    </v-flex>
                                    <v-layout wrap>
                                      <v-flex xs12 sm12 md4 mt-3 pl-4>
                                        <div class="text-left"></div>
                                      </v-flex>
                                      <v-flex xs12 sm6 md4 px-3>
                                        <v-text-field
                                          v-model="searchPos"
                                          append-icon="mdi-magnify"
                                          :label="$t('dataTable.SEARCH')"
                                          id="search"
                                          single-line
                                          hide-details
                                          clearable
                                          clear-icon="mdi-close"
                                        ></v-text-field>
                                      </v-flex>
                                      <v-flex
                                        xs12
                                        sm6
                                        md4
                                        text-xs-right
                                        mb-2
                                        mt-2
                                        pr-2
                                      >
                                        <ValidationObserver
                                          ref="observer"
                                          v-slot="{ invalid }"
                                          tag="form"
                                          @submit.prevent="submit()"
                                          data-vv-scope="form-3"
                                        >
                                          <v-dialog
                                            v-model="dialogPositionPromote"
                                            persistent
                                            max-width="800px"
                                            content-class="dlgNewEditItemPos"
                                          >
                                            <template v-slot:activator="{ on }">
                                              <div class="text-right">
                                                <v-btn
                                                  id="btnEdu"
                                                  dark
                                                  color="teal lighten-1"
                                                  v-on="on"
                                                  class="btnNewEdu pr-4"
                                                  @click="nullPos()"
                                                >
                                                  <v-icon class="mr-2"
                                                    >mdi-plus</v-icon
                                                  >
                                                  {{
                                                    $t('dataTable.ADD_INSIGNIA')
                                                  }}
                                                </v-btn>
                                              </div>
                                            </template>
                                            <v-card>
                                              <v-card-title>
                                                <span class="headline">{{
                                                  formTitlePositionPromote
                                                }}</span>
                                              </v-card-title>
                                              <v-card-text>
                                                <v-container grid-list-md>
                                                  <v-layout wrap>
                                                    <v-flex xs12 md12>
                                                      <ValidationProvider
                                                        rules="required"
                                                        v-slot="{ errors }"
                                                      >
                                                        <v-text-field
                                                          id="name"
                                                          name="name"
                                                          v-model="
                                                            positionPromoteEditItems.name
                                                          "
                                                          :label="
                                                            $t('insignia.NAME')
                                                          "
                                                          :error="
                                                            errors.length > 0
                                                          "
                                                          :error-messages="
                                                            errors[0]
                                                          "
                                                          autocomplete="off"
                                                        ></v-text-field>
                                                      </ValidationProvider>
                                                    </v-flex>
                                                    <v-flex xs12 md6>
                                                      <ValidationProvider
                                                        rules="required"
                                                        v-slot="{ errors }"
                                                      >
                                                        <v-text-field
                                                          id="condensed"
                                                          name="condensed"
                                                          v-model="
                                                            positionPromoteEditItems.condensed
                                                          "
                                                          :label="
                                                            $t(
                                                              'insignia.CONDENSED'
                                                            )
                                                          "
                                                          :error="
                                                            errors.length > 0
                                                          "
                                                          :error-messages="
                                                            errors[0]
                                                          "
                                                          autocomplete="off"
                                                        ></v-text-field>
                                                      </ValidationProvider>
                                                    </v-flex>
                                                    <v-flex xs12 md6>
                                                      <ValidationProvider
                                                        rules="required"
                                                        v-slot="{ errors }"
                                                      >
                                                        <v-text-field
                                                          id="year"
                                                          name="year"
                                                          type="number"
                                                          v-model="
                                                            positionPromoteEditItems.year
                                                          "
                                                          :label="
                                                            $t('insignia.YEAR')
                                                          "
                                                          :error="
                                                            errors.length > 0
                                                          "
                                                          :error-messages="
                                                            errors[0]
                                                          "
                                                          autocomplete="off"
                                                        ></v-text-field>
                                                      </ValidationProvider>
                                                    </v-flex>
                                                  </v-layout>
                                                </v-container>
                                              </v-card-text>
                                              <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn
                                                  color="red lighten3"
                                                  text
                                                  @click="closePos"
                                                  class="btnCancelPos"
                                                  >{{
                                                    $t('dataTable.CANCEL')
                                                  }}</v-btn
                                                >
                                                <v-btn
                                                  color="green"
                                                  text
                                                  @click="savePos"
                                                  :disabled="invalid"
                                                  class="btnSavePos"
                                                  >{{
                                                    $t('dataTable.SAVE')
                                                  }}</v-btn
                                                >
                                              </v-card-actions>
                                            </v-card>
                                          </v-dialog>
                                        </ValidationObserver>
                                      </v-flex>
                                    </v-layout>
                                  </template>
                                  <template v-slot:[`item._id`]="{ item }">
                                    <td class="fill-height px-0">
                                      <v-layout class="justify-center">
                                        <v-tooltip top>
                                          <template v-slot:activator="{ on }">
                                            <v-btn
                                              id="delete"
                                              class="mx-1"
                                              v-on="on"
                                              icon
                                              outlined
                                              color="orange lighten-1"
                                              @click="editItemPos(item)"
                                            >
                                              <v-icon>mdi-pencil</v-icon>
                                            </v-btn>
                                          </template>
                                          <span>{{
                                            $t('dataTable.EDIT_INSIGNIA')
                                          }}</span>
                                        </v-tooltip>
                                        <v-tooltip top>
                                          <template v-slot:activator="{ on }">
                                            <v-btn
                                              id="delete"
                                              class="mx-0"
                                              v-on="on"
                                              icon
                                              outlined
                                              color="red"
                                              @click="deleteItemPos(item)"
                                            >
                                              <v-icon>mdi-delete</v-icon>
                                            </v-btn>
                                          </template>
                                          <span>{{
                                            $t('dataTable.DELETE')
                                          }}</span>
                                        </v-tooltip>
                                      </v-layout>
                                    </td>
                                  </template>
                                  <template
                                    v-slot:[`footer.page-text`]="{
                                      pageStart,
                                      pageStop,
                                      itemsLength
                                    }"
                                  >
                                    {{ pageStart }} - {{ pageStop }}
                                    {{ $t('dataTable.OF') }}
                                    {{ itemsLength }}
                                  </template>
                                  <template v-slot:no-data>{{
                                    $t('insignia.NO_DATA')
                                  }}</template>
                                  <template v-slot:no-results>{{
                                    $t('insignia.NO_RESULTS')
                                  }}</template>
                                </v-data-table>
                              </div>
                            </template>
                          </v-flex>
                        </v-layout>
                      </v-card-text>
                    </v-card>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="red lighten3"
                        text
                        @click="close"
                        class="btnCancel"
                        >{{ $t('dataTable.CANCEL') }}
                      </v-btn>
                      <v-btn
                        color="green"
                        text
                        @click="save"
                        :disabled="invalid"
                        class="btnSave"
                        >{{ $t('dataTable.SAVE') }}
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </div>
              </v-dialog>
            </ValidationObserver>
          </v-flex>
        </v-layout>
      </template>
      <template v-slot:items="props">
        <td>{{ props.item.nameTH }}</td>
        <td>{{ props.item.surnameTH }}</td>
        <td>{{ props.item.division }}</td>
        <td>{{ props.item.position }}</td>
      </template>
      <template v-slot:[`item._id`]="{ item }">
        <td class="fill-height px-0">
          <v-layout class="justify-center">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn
                  id="edit"
                  class="mx-1"
                  v-on="on"
                  @click="editItem(item)"
                  fab
                  dark
                  small
                  icon
                  outlined
                  color="orange lighten-2"
                  elevation="0"
                >
                  <v-icon>mdi-account-edit</v-icon>
                </v-btn>
              </template>
              <span>{{ $t('dataTable.EDIT') }}</span>
            </v-tooltip>
          </v-layout>
        </td>
      </template>
      <template
        v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }"
      >
        {{ pageStart }} - {{ pageStop }}
        {{ $t('dataTable.OF') }}
        {{ itemsLength }}
      </template>
      <template v-slot:no-data>{{ $t('dataTable.NO_DATA') }}</template>
      <template v-slot:no-results>{{ $t('dataTable.NO_RESULTS') }}</template>
    </v-data-table>
    <ErrorMessage />
    <SuccessMessage />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { formatDate, buildPayloadPagination } from '@/utils/utils.js'
import { format, addYears } from 'date-fns'

export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('users.TITLE')} - %s`
    }
  },
  data() {
    return {
      searchInput: '',
      dataTableLoading: true,
      delayTimer: null,
      dialog: false,
      dialogPositionPromote: false,
      dialogDeletePos: false,
      isDisabled: true,
      search: '',
      searchEdu: '',
      searchSalary: '',
      searchPos: '',
      pagination: {},
      editedItem: {},
      defaultItem: {},
      defaultItemPos: {
        directive: '',
        date: new Date().toISOString().substr(0, 10),
        position: '',
        effectual: new Date().toISOString().substr(0, 10),
        detail: '',
        fiscalYear: '',
        condensed1: '',
        condensed2: ''
      },
      index: 0,
      dateYYYY: new Date().toISOString().substr(0, 10),
      insigniasInfo: [],
      yearFilterValue: null,
      positionPromoteIndex: -1,
      positionPromoteItems: [],
      positionPromoteEditItems: {},
      fullname: '',

      itemInsignias: [],
      itemInsigniasYear: [],
      insignias: [],

      fieldsToSearch: ['nameTH', 'surnameTH', 'division', 'position'],
      year: [
        { text: this.$i18n.t('insignia.ALL'), value: null },
        { text: '2564', value: 2564 },
        { text: '2565', value: 2565 },
        { text: '2566', value: 2566 },
        { text: '2567', value: 2567 },
        { text: '2568', value: 2568 },
        { text: '2569', value: 2569 },
        { text: '2570', value: 2570 },
        { text: '2571', value: 2571 },
        { text: '2572', value: 2572 },
        { text: '2573', value: 2573 },
        { text: '2574', value: 2574 },
        { text: '2575', value: 2575 },
        { text: '2576', value: 2576 },
        { text: '2577', value: 2577 },
        { text: '2578', value: 2578 },
        { text: '2579', value: 2579 },
        { text: '2580', value: 2580 }
      ],
      modal: false,
      date: new Date().toISOString().substr(0, 10),
      appointDay: new Date().toISOString().substr(0, 10),
      format
    }
  },
  computed: {
    headers() {
      return [
        {
          text: this.$i18n.t('insignia.FULLNAME'),
          align: 'left',
          sortable: false,
          value: 'fullname'
        },
        {
          text: this.$i18n.t('insignia.NAME'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$i18n.t('insignia.CONDENSED'),
          align: 'left',
          sortable: false,
          value: 'condensed'
        },
        {
          text: this.$i18n.t('insignia.YEAR'),
          align: 'left',
          sortable: true,
          filter: this.yearFilter,
          value: 'year'
        },
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: '_id',
          align: 'left',
          sortable: false,
          width: 200
        }
      ]
    },
    headersInsignias() {
      return [
        {
          text: this.$i18n.t('insignia.NAME'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$i18n.t('insignia.CONDENSED'),
          align: 'left',
          sortable: false,
          value: 'condensed'
        },
        {
          text: this.$i18n.t('insignia.YEAR'),
          align: 'left',
          sortable: true,
          filter: this.yearFilter,
          value: 'year'
        },
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: '_id',
          align: 'left',
          sortable: false,
          width: 200
        }
      ]
    },
    items() {
      return this.$store.state.adminUsers.users
    },
    totalItems() {
      return this.$store.state.adminUsers.totalUsers
    },
    itemsPositionPromote() {
      return this.positionPromoteItems
    },
    totalItemsPositionPromote() {
      return this.positionPromoteItems.length
    },
    formTitlePositionPromote() {
      return this.positionPromoteEditItems._id
        ? this.$t('dataTable.EDIT_INSIGNIA_2')
        : this.$t('dataTable.ADD_INSIGNIA_2')
    }
  },
  watch: {
    dialog(value) {
      return value ? true : this.close()
    },
    pagination: {
      async handler() {
        try {
          this.dataTableLoading = true
          await this.getUsers(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          await this.getProfile(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
        }
      },
      deep: true
    },
    search() {
      clearTimeout(this.delayTimer)
      this.delayTimer = setTimeout(() => {
        this.doSearch()
      }, 400)
    }
  },
  methods: {
    ...mapActions([
      'getUsers',
      'editUser',
      'saveUser',
      'deleteUser',
      'getProfile'
    ]),
    yearFilter(value) {
      if (!this.yearFilterValue) {
        return true
      }
      return value === this.yearFilterValue
    },
    hideTextField() {
      if (this.editedItem.secondType === 'งบแผ่นดิน') {
        return false
      }
      return true
    },
    datePickerLocale() {
      return this.$store.getters.locale
    },
    formatDate(date) {
      window.__localeId__ = this.$store.getters.locale
      if (window.__localeId__ === 'th') {
        return formatDate(addYears(new Date(date), 543), 'd MMMM yyyy')
      }
      return formatDate(new Date(date), 'd MMMM yyyy')
    },
    formatInsignias(date) {
      return this.format(addYears(new Date(date), 543), 'yyyy', {
        locale: window.locale
      })
    },
    // eslint-disable-next-line
    plusDateSixtyDay(date) {
      return this.format(addYears(new Date(date), 60), 'yyyy-MM-dd', {
        locale: window.locale
      })
    },
    checkMonth(birthdate) {
      if (parseInt(format(new Date(birthdate), 'MM')) >= 10) {
        return this.format(addYears(new Date(birthdate), 1), 'yyyy-10-01', {
          locale: window.locale
        })
      }
      return this.format(new Date(birthdate), 'yyyy-10-01', {
        locale: window.locale
      })
    },
    async doSearch() {
      try {
        this.dataTableLoading = true
        await this.getUsers(
          buildPayloadPagination(this.pagination, this.buildSearch())
        )
        this.dataTableLoading = false
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    buildSearch() {
      return this.search
        ? { query: this.search, fields: this.fieldsToSearch.join(',') }
        : {}
    },
    editItem(item) {
      this.insigniasInfo = []
      this.appointDay = item.appointDay
      this.fullname = item.fullname
      this.insigniasInfo = item.insign
      this.positionPromoteItems = item.insign
      item = {
        prefix: item.allItemUser.prefix,
        prefixEN: item.allItemUser.prefixEN,
        nameTH: item.allItemUser.nameTH,
        surnameTH: item.allItemUser.surnameTH,
        nameEN: item.allItemUser.nameEN,
        surnameEN: item.allItemUser.surnameEN,
        // eslint-disable-next-line
        fullname: item.allItemUser.nameTH + ' ' + item.allItemUser.surnameTH,
        birthdate: format(new Date(item.allItemUser.birthdate), 'yyyy-MM-dd'),
        idCard: item.allItemUser.idCard,
        role: item.allItemUser.role,
        email: item.allItemUser.email,
        serviceDay: format(new Date(item.allItemUser.serviceDay), 'yyyy-MM-dd'),
        sixtyDay: this.plusDateSixtyDay(item.allItemUser.birthdate),
        retirementDay: format(
          new Date(
            this.checkMonth(this.plusDateSixtyDay(item.allItemUser.birthdate))
          ),
          'yyyy-MM-dd'
        ),
        fiscalYear: format(
          new Date(
            this.checkMonth(this.plusDateSixtyDay(item.allItemUser.birthdate))
          ),
          'yyyy'
        ),
        ratenumber: item.allItemUser.ratenumber,
        position: item.allItemUser.position,
        division: item.allItemUser.division,
        affiliate: item.allItemUser.affiliate,
        campus: item.allItemUser.campus,
        work: item.allItemUser.work,
        type: item.allItemUser.type,
        secondType: item.allItemUser.secondType,
        appointDay: format(new Date(item.allItemUser.appointDay), 'yyyy-MM-dd'),
        phone: item.allItemUser.phone,
        address: item.allItemUser.address,
        blood: item.allItemUser.blood,
        height: item.allItemUser.height,
        weight: item.allItemUser.weight,
        nationality: item.allItemUser.nationality,
        ethnicity: item.allItemUser.ethnicity,
        religion: item.allItemUser.religion,
        status: item.allItemUser.status,
        educations: item.allItemUser.educations,
        historys: item.allItemUser.historys,
        salarys: item.allItemUser.salarys,
        insignias: this.itemsPositionPromote,
        password: '12345',
        _id: item.allItemUser._id
      }
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    async save() {
      try {
        this.dataTableLoading = true
        // Updating item
        if (this.editedItem._id) {
          this.edited = {
            prefix: this.editedItem.prefix,
            prefixEN: this.editedItem.prefixEN,
            nameTH: this.editedItem.nameTH,
            surnameTH: this.editedItem.surnameTH,
            nameEN: this.editedItem.nameEN,
            surnameEN: this.editedItem.surnameEN,
            // eslint-disable-next-line
            fullname: this.editedItem.nameTH + ' ' + this.editedItem.surnameTH,
            birthdate: format(
              new Date(this.editedItem.birthdate),
              'yyyy-MM-dd'
            ),
            idCard: this.editedItem.idCard,
            role: this.editedItem.role,
            email: this.editedItem.email,
            serviceDay: format(
              new Date(this.editedItem.serviceDay),
              'yyyy-MM-dd'
            ),
            sixtyDay: this.plusDateSixtyDay(this.editedItem.birthdate),
            retirementDay: format(
              new Date(
                this.checkMonth(
                  this.plusDateSixtyDay(this.editedItem.birthdate)
                )
              ),
              'yyyy-MM-dd'
            ),
            fiscalYear: format(
              new Date(
                this.checkMonth(
                  this.plusDateSixtyDay(this.editedItem.birthdate)
                )
              ),
              'yyyy'
            ),
            ratenumber: this.editedItem.ratenumber,
            position: this.editedItem.position,
            division: this.editedItem.division,
            affiliate: this.editedItem.affiliate,
            campus: this.editedItem.campus,
            work: this.editedItem.work,
            type: this.editedItem.type,
            secondType: this.editedItem.secondType,
            appointDay: format(
              new Date(this.editedItem.appointDay),
              'yyyy-MM-dd'
            ),
            phone: this.editedItem.phone,
            address: this.editedItem.address,
            blood: this.editedItem.blood,
            height: this.editedItem.height,
            weight: this.editedItem.weight,
            nationality: this.editedItem.nationality,
            ethnicity: this.editedItem.ethnicity,
            religion: this.editedItem.religion,
            status: this.editedItem.status,
            educations: this.editedItem.educations,
            historys: this.editedItem.historys,
            salarys: this.editedItem.salarys,
            insignias: this.checkEmtyArray(),
            password: this.editedItem.password,
            _id: this.editedItem._id
          }
          await this.editUser(this.edited)
          await this.getUsers()
          this.dataTableLoading = false
        }
        this.itemInsignias = []
        this.pushToArray()
        this.close()
        return
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
        this.close()
      }
    },
    checkEmtyArray() {
      if (this.itemsPositionPromote.length === 0) {
        this.itemsPositionPromote.push({
          name: '-',
          condensed: '-',
          year: 0
        })
      }
      return this.itemsPositionPromote
    },
    pushToArray() {
      for (this.i = 0; this.i < this.items.length; this.i++) {
        if (this.items[this.i].secondType === 'งบแผ่นดิน') {
          this.itemInsignias.push({
            _id: this.items[this.i]._id,
            fullname: this.items[this.i].fullname,
            name: this.items[this.i].insignias[
              this.checkYear(this.items[this.i].insignias.length)
            ].name,
            condensed: this.items[this.i].insignias[
              this.checkYear(this.items[this.i].insignias.length)
            ].condensed,
            year: this.items[this.i].insignias[
              this.checkYear(this.items[this.i].insignias.length)
            ].year,
            insign: this.items[this.i].insignias,
            allItemUser: this.items[this.i],
            appointDay: this.items[this.i].appointDay
          })
        }
      }
    },
    checkYear(length) {
      for (this.num = 0; this.num < length; this.num++) {
        this.itemInsigniasYear.push(this.items[this.i].insignias[this.num].year)
      }
      for (this.num = 0; this.num < length; this.num++) {
        if (
          this.itemInsigniasYear[this.num] >=
          parseInt(format(addYears(new Date(this.dateYYYY), 543), 'yyyy'))
        ) {
          this.index = this.num
          this.itemInsigniasYear = []
          return this.index
        } else if (
          this.itemInsigniasYear[this.num] <
          parseInt(format(addYears(new Date(this.dateYYYY), 543), 'yyyy'))
        ) {
          this.index = this.num
        }
      }
      this.itemInsigniasYear = []
      return this.index
    },
    close() {
      this.dialog = false
      this.positionPromoteItems = []
      setTimeout(() => {
        this.editedItem = Object.assign(
          {},
          {
            fullname: '',
            appointDay: format(new Date('1999-03-05'), 'yyyy-MM-dd'),
            insignias: this.positionPromoteItems
          }
        )
        this.$refs.observer.reset()
      }, 300)
    },
    // Position Promote
    clearPos() {
      this.positionPromoteEditItems.name = '-'
      this.positionPromoteEditItems.year = '-'
      this.positionPromoteEditItems.condensed = '-'
      this.$refs.observer.reset()
    },
    nullPos() {
      this.$nextTick(() => {
        this.positionPromoteEditItems = Object.assign({}, this.defaultItemPos)
        this.positionPromoteIndex = -1
      })
    },
    editItemPos(item) {
      this.positionPromoteIndex = this.positionPromoteItems.indexOf(item)
      this.positionPromoteEditItems = Object.assign({}, item)
      this.dialogPositionPromote = true
    },
    async deleteItemPos(item) {
      try {
        const response = await this.$confirm(
          this.$t('common.DO_YOU_REALLY_WANT_TO_DELETE_THIS_ITEM'),
          {
            title: this.$t('common.WARNING'),
            buttonTrueText: this.$t('common.DELETE'),
            buttonFalseText: this.$t('common.CANCEL'),
            buttonTrueColor: 'red lighten3',
            buttonFalseColor: 'yellow'
          }
        )
        if (response) {
          this.dataTableLoading = true
          this.positionPromoteIndex = this.positionPromoteItems.indexOf(item)
          this.positionPromoteEditItems = Object.assign({}, item)
          this.deleteItemConfirmPos()
          this.dataTableLoading = false
        }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    deleteItemConfirmPos() {
      this.positionPromoteItems.splice(this.positionPromoteIndex, 1)
      this.closeDeletePos()
    },
    closePos() {
      this.dialogPositionPromote = false
      this.positionPromoteIndex = -1
      this.clearPos()
    },
    savePos() {
      let index = 0
      this.positionPromoteItems.forEach((element) => {
        if (element.year <= this.positionPromoteEditItems.year) {
          index += 1
        }
      })
      if (this.positionPromoteIndex > -1) {
        this.positionPromoteItems.splice(this.positionPromoteIndex, 1)
        if (index <= 1) {
          this.positionPromoteItems.splice(index, 0, {
            name: this.positionPromoteEditItems.name,
            condensed: this.positionPromoteEditItems.condensed,
            year: this.positionPromoteEditItems.year
          })
        } else {
          this.positionPromoteItems.splice(index - 1, 0, {
            name: this.positionPromoteEditItems.name,
            condensed: this.positionPromoteEditItems.condensed,
            year: this.positionPromoteEditItems.year
          })
        }
      } else {
        this.positionPromoteItems.splice(index, 0, {
          name: this.positionPromoteEditItems.name,
          condensed: this.positionPromoteEditItems.condensed,
          year: this.positionPromoteEditItems.year
        })
      }
      this.dataTableLoading = false
      this.closePos()
    }
  },
  async mounted() {
    await this.getUsers()
    await this.pushToArray()
  }
}
</script>
