<template>
  <v-container fluid>
    <v-layout row wrap>
      <Heading :title="$t('insignia.TITLE')" />
    </v-layout>
    <div>
      <v-data-table
        @load="pushToArray()"
        :loading="dataTableLoading"
        :no-data-text="$t('insignia.NO_DATA')"
        :no-results-text="$t('insignia.NO_RESULTS')"
        :headers="headers"
        :items="itemInsignias"
        :options.sync="pagination"
        :items-per-page="5"
        :search="search"
        class="elevation-1"
        :footer-props="{
          'items-per-page-text': $t('dataTable.ROWS_PER_PAGE'),
          'items-per-page-options': [5, 10, 25]
        }"
      >
        <template v-slot:top>
          <v-layout wrap>
            <v-flex xs12 sm12 md3 mt-3 pl-4>
              <div class="text-left">
                <v-toolbar-title>{{ $t('insignia.TITLE') }}</v-toolbar-title>
              </div>
            </v-flex>
            <v-flex xs12 sm12 md3>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                :label="$t('dataTable.SEARCH')"
                id="search"
                single-line
                hide-details
                clearable
                clear-icon="mdi-close"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12 md3 mt-3 pl-4>
              <v-select
                label="ปีที่ค้นหา"
                dense
                v-model="yearFilterValue"
                :items="year"
                single-line
                hide-details
                clearable
                clear-icon="mdi-close"
              ></v-select>
            </v-flex>
            <v-flex xs12 sm6 md4 text-xs-right mb-2 mt-2 pr-2>
              <v-dialog
                v-model="dialog"
                max-width="1300px"
                content-class="dlgNewEditItem"
                persistent
              >
                <v-card>
                  <v-card-title class="teal lighten-1">
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 sm10 offset-sm1 mt-6>
                          <template>
                            <div>
                              <v-data-table
                                :loading="dataTableLoading"
                                :no-data-text="$t('insignia.NO_DATA')"
                                :no-results-text="$t('insignia.NO_RESULTS')"
                                :headers="headersInsignias"
                                :items="insigniasInfo"
                                :options.sync="pagination"
                                :items-per-page="5"
                                :search="searchInsigniasInfo"
                                class="elevation-1"
                                :footer-props="{
                                  'items-per-page-text': $t(
                                    'dataTable.ROWS_PER_PAGE'
                                  ),
                                  'items-per-page-options': [5, 10, 25]
                                }"
                              >
                                <template v-slot:top>
                                  <v-flex xs12 sm10 offset-sm2 mb-0>
                                    <v-layout wrap>
                                      <v-flex xs12 md6 mt-2>
                                        <v-text-field
                                          id="fullname"
                                          name="fullname"
                                          type="text"
                                          :label="$t('insignia.FULLNAME')"
                                          v-model="fullname"
                                          autocomplete="off"
                                          rounded
                                          readonly
                                        ></v-text-field>
                                      </v-flex>
                                      <v-flex xs12 md6 mt-2>
                                        <v-text-field
                                          id="appointDay"
                                          name="appointDay"
                                          type="text"
                                          v-model="appointDay"
                                          :label="$t('insignia.APPOINTDAY')"
                                          autocomplete="off"
                                          rounded
                                          readonly
                                        >
                                        </v-text-field>
                                      </v-flex>
                                    </v-layout>
                                  </v-flex>
                                  <v-layout wrap>
                                    <v-flex xs12 sm12 md4 mt-3 pl-4>
                                      <div class="text-left">
                                        <v-toolbar-title>{{
                                          $t('insignia.TITLE')
                                        }}</v-toolbar-title>
                                      </div>
                                    </v-flex>
                                    <v-flex xs12 sm6 md4 px-3>
                                      <v-text-field
                                        v-model="searchInsigniasInfo"
                                        append-icon="mdi-magnify"
                                        :label="$t('dataTable.SEARCH')"
                                        id="search"
                                        single-line
                                        hide-details
                                        clearable
                                        clear-icon="mdi-close"
                                      ></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm12 md4 mt-3 pl-4>
                                      <div class="text-right">
                                        <v-btn
                                          id="btnEdu"
                                          dark
                                          color="teal lighten-1"
                                          v-on="on"
                                          class="btnNewEdu pr-4"
                                          @click="nullPos()"
                                        >
                                          <v-icon class="mr-2">mdi-plus</v-icon>
                                          {{ $t('dataTable.ADD_INSIGNIA') }}
                                        </v-btn>
                                      </div>
                                    </v-flex>
                                  </v-layout>
                                </template>
                                <template v-slot:[`item._id`]="{ item }">
                                  <td class="fill-height px-0">
                                    <v-layout class="justify-center">
                                      <v-tooltip top>
                                        <template v-slot:activator="{ on }">
                                          <v-btn
                                            id="delete"
                                            class="mx-0"
                                            v-on="on"
                                            fab
                                            dark
                                            small
                                            icon
                                            outlined
                                            color="orange lighten-1"
                                            elevation="0"
                                            @click="deleteParticipant(item)"
                                          >
                                            <v-icon>mdi-pencil</v-icon>
                                          </v-btn>
                                        </template>
                                        <span>{{
                                          $t('dataTable.EDIT_INSIGNIA')
                                        }}</span>
                                      </v-tooltip>
                                      <v-tooltip top>
                                        <template v-slot:activator="{ on }">
                                          <v-btn
                                            id="delete"
                                            class="mx-0"
                                            v-on="on"
                                            fab
                                            icon
                                            outlined
                                            dark
                                            small
                                            color="red"
                                            elevation="0"
                                            @click="deleteParticipant(item)"
                                          >
                                            <v-icon>mdi-delete</v-icon>
                                          </v-btn>
                                        </template>
                                        <span>{{
                                          $t('dataTable.DELETE')
                                        }}</span>
                                      </v-tooltip>
                                    </v-layout>
                                  </td>
                                </template>
                                <template
                                  v-slot:[`footer.page-text`]="{
                                    pageStart,
                                    pageStop,
                                    itemsLength
                                  }"
                                >
                                  {{ pageStart }} - {{ pageStop }}
                                  {{ $t('dataTable.OF') }}
                                  {{ itemsLength }}
                                </template>
                                <template v-slot:no-data>{{
                                  $t('insignia.NO_DATA')
                                }}</template>
                                <template v-slot:no-results>{{
                                  $t('insignia.NO_RESULTS')
                                }}</template>
                              </v-data-table>
                            </div>
                          </template>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="red lighten3"
                      text
                      @click="close"
                      class="btnCancel"
                      >{{ $t('dataTable.CANCEL') }}</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-flex>
          </v-layout>
        </template>

        <template v-slot:[`item._id`]="{ item }">
          <td class="fill-height px-0">
            <v-layout class="justify-center">
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                    v-on="on"
                    class="mx-1"
                    fab
                    small
                    icon
                    outlined
                    color="dark"
                    elevation="0"
                    @click="editInsignia(item)"
                  >
                    <v-icon>mdi-file-document-outline</v-icon>
                  </v-btn>
                </template>
                <span>{{ $t('dataTable.EDITINSIGNIA') }}</span>
              </v-tooltip>
            </v-layout>
          </td>
        </template>
        <template
          v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }"
        >
          {{ pageStart }} - {{ pageStop }}
          {{ $t('dataTable.OF') }}
          {{ itemsLength }}
        </template>
        <template v-slot:no-data>{{ $t('insignia.ADMIN_NO_DATA') }}</template>
        <template v-slot:no-results>{{
          $t('insignia.ADMIN_NO_RESULTS')
        }}</template>
      </v-data-table>
      <ErrorMessage />
      <SuccessMessage />
    </div>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat } from '@/utils/utils.js'
import { format, addYears } from 'date-fns'
export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('insignia.TITLE')} - %s`
    }
  },
  data() {
    return {
      searchInput: '',
      dataTableLoading: false,
      delayTimer: null,
      dialog: false,
      search: '',
      searchInsigniasInfo: '',
      pagination: {},
      editedItem: {},
      defaultItem: {},
      itemInsignias: [],
      itemInsigniasYear: [],
      dateYYYY: new Date().toISOString().substr(0, 10),
      year: [
        { text: this.$i18n.t('insignia.ALL'), value: null },
        { text: '2564', value: 2564 },
        { text: '2565', value: 2565 },
        { text: '2566', value: 2566 },
        { text: '2567', value: 2567 },
        { text: '2568', value: 2568 },
        { text: '2569', value: 2569 },
        { text: '2570', value: 2570 },
        { text: '2571', value: 2571 },
        { text: '2572', value: 2572 },
        { text: '2573', value: 2573 },
        { text: '2574', value: 2574 },
        { text: '2575', value: 2575 },
        { text: '2576', value: 2576 },
        { text: '2577', value: 2577 },
        { text: '2578', value: 2578 },
        { text: '2579', value: 2579 },
        { text: '2580', value: 2580 }
      ],
      format,
      insigniasInfo: [],
      yearFilterValue: null,
      index: 0,
      fullname: '',
      appointDay: ''
    }
  },
  computed: {
    formTitle() {
      return this.$t('insignia.DESCRIPTION')
    },
    headers() {
      return [
        {
          text: this.$i18n.t('insignia.FULLNAME'),
          align: 'left',
          sortable: false,
          value: 'fullname'
        },
        {
          text: this.$i18n.t('insignia.NAME'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$i18n.t('insignia.CONDENSED'),
          align: 'left',
          sortable: false,
          value: 'condensed'
        },
        {
          text: this.$i18n.t('insignia.YEAR'),
          align: 'left',
          sortable: true,
          filter: this.yearFilter,
          value: 'year'
        },
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: '_id',
          align: 'left',
          sortable: false,
          width: 200
        }
      ]
    },
    items() {
      return this.$store.state.adminInsignias.adminInsignias
    },
    headersInsignias() {
      return [
        {
          text: this.$i18n.t('insignia.NAME'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$i18n.t('insignia.CONDENSED'),
          align: 'left',
          sortable: false,
          value: 'condensed'
        },
        {
          text: this.$i18n.t('insignia.YEAR'),
          align: 'left',
          sortable: true,
          filter: this.yearFilter,
          value: 'year'
        },
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: '_id',
          align: 'left',
          sortable: false,
          width: 200
        }
      ]
    }
  },
  methods: {
    ...mapActions(['getInsignias']),
    yearFilter(value) {
      if (!this.yearFilterValue) {
        return true
      }
      return value === this.yearFilterValue
    },
    getFormat(date) {
      window.__localeId__ = this.$store.getters.locale
      if (window.__localeId__ === 'th') {
        return getFormat(addYears(new Date(date), 543), 'd MMMM yyyy')
      }
      return getFormat(new Date(date), 'd MMMM yyyy')
    },
    pushToArray() {
      for (this.i = 0; this.i < this.items.insignias.length; this.i++) {
        this.itemInsignias.push({
          _id: this.items[this.i]._id,
          fullname: this.items[this.i].fullname,
          name: this.items[this.i].insignias[
            this.checkYear(this.items[this.i].insignias.length)
          ].name,
          condensed: this.items[this.i].insignias[
            this.checkYear(this.items[this.i].insignias.length)
          ].condensed,
          year: this.items[this.i].insignias[
            this.checkYear(this.items[this.i].insignias.length)
          ].year,
          insign: this.items[this.i].insign,
          appointDay: this.items[this.i].appointDay
        })
      }
    },
    checkYear(length) {
      for (this.num = 0; this.num < length; this.num++) {
        this.itemInsigniasYear.push(this.items[this.i].insignias[this.num].year)
      }
      for (this.num = 0; this.num < length; this.num++) {
        if (
          this.itemInsigniasYear[this.num] >=
          parseInt(format(addYears(new Date(this.dateYYYY), 543), 'yyyy'))
        ) {
          this.index = this.num
          this.itemInsigniasYear = []
          return this.index
        } else if (
          this.itemInsigniasYear[this.num] <
          parseInt(format(addYears(new Date(this.dateYYYY), 543), 'yyyy'))
        ) {
          this.index = this.num
        }
      }
      this.itemInsigniasYear = []
      return this.index
    },
    close() {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
      }, 300)
    },
    editInsignia(item) {
      this.insigniasInfo = []
      this.fullname = item.fullname
      this.appointDay = this.getFormat(item.appointDay)
      this.insigniasInfo = item.insign
      this.dialog = true
    }
  },
  async mounted() {
    await this.getInsignias()
    await this.pushToArray()
  }
}
</script>
