<template>
  <v-container fluid>
    <v-layout row wrap>
      <Heading :title="$t('tranings.ALLTRAININGS')" />
    </v-layout>
    <div>
      <v-data-table
        :loading="dataTableLoading"
        :no-data-text="$t('dataTable.NO_DATA')"
        :no-results-text="$t('dataTable.NO_RESULTS')"
        :headers="headers"
        :items="items"
        :options.sync="pagination"
        :items-per-page="5"
        class="elevation-1"
        :footer-props="{
          'items-per-page-text': $t('dataTable.ROWS_PER_PAGE'),
          'items-per-page-options': [5, 10, 25]
        }"
      >
        <template v-slot:top>
          <v-layout wrap>
            <v-flex xs12 sm12 md4 mt-3 pl-4>
              <div class="text-left">
                <v-toolbar-title>{{ $t('tranings.ALLITEM') }}</v-toolbar-title>
              </div>
            </v-flex>
            <v-flex xs12 sm6 md4 px-3>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                :label="$t('dataTable.SEARCH')"
                id="search"
                single-line
                hide-details
                clearable
                clear-icon="mdi-close"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md4 text-xs-right mb-2 mt-2 pr-2>
              <ValidationObserver
                ref="observer"
                v-slot="{ invalid }"
                tag="form"
                @submit.prevent="submit()"
              >
                <v-dialog
                  v-model="dialog"
                  max-width="1200px"
                  content-class="dlgNewEditItem"
                  persistent
                >
                  <template v-slot:activator="{ on }">
                    <div class="text-right">
                      <v-btn
                        dark
                        color="teal lighten-1"
                        v-on="on"
                        class="btnNewItem pr-4"
                      >
                        <v-icon class="mr-2">mdi-plus</v-icon>
                        {{ $t('tranings.ADD') }}
                      </v-btn>
                    </div>
                  </template>
                  <v-card>
                    <v-card-title class="teal lighten-1">
                      <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex xs12 md12>
                            <ValidationProvider
                              rules="required"
                              v-slot="{ errors }"
                            >
                              <v-text-field
                                id="topic"
                                name="topic"
                                v-model="editedItem.topic"
                                :label="$t('tranings.TOPIC')"
                                :error="errors.length > 0"
                                :error-messages="errors[0]"
                                autocomplete="off"
                              ></v-text-field>
                            </ValidationProvider>
                          </v-flex>
                          <v-flex xs12 md6>
                            <v-menu
                              ref="menustart"
                              v-model="menustart"
                              :close-on-content-click="false"
                              :return-value.sync="startDate"
                              transition="scale-transition"
                              offset-y
                              min-width="auto"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  :value="getFormat(startDate)"
                                  :label="$t('leaves.START')"
                                  prepend-icon="mdi-calendar"
                                  readonly
                                  v-bind="attrs"
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="startDate"
                                no-title
                                scrollable
                                :locale="datePickerLocale()"
                              >
                                <v-spacer></v-spacer>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="menustart = false"
                                >
                                  Cancel
                                </v-btn>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="$refs.menustart.save(startDate)"
                                >
                                  OK
                                </v-btn>
                              </v-date-picker>
                            </v-menu>
                          </v-flex>
                          <v-flex xs12 md6>
                            <v-menu
                              ref="menuend"
                              v-model="menuend"
                              :close-on-content-click="false"
                              :return-value.sync="endDate"
                              transition="scale-transition"
                              offset-y
                              min-width="auto"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  :value="getFormat(endDate)"
                                  :label="$t('leaves.END')"
                                  prepend-icon="mdi-calendar"
                                  readonly
                                  v-bind="attrs"
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="endDate"
                                no-title
                                scrollable
                                :locale="datePickerLocale()"
                              >
                                <v-spacer></v-spacer>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="menuend = false"
                                >
                                  Cancel
                                </v-btn>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="$refs.menuend.save(endDate)"
                                >
                                  OK
                                </v-btn>
                              </v-date-picker>
                            </v-menu>
                          </v-flex>
                          <v-flex xs12 md12>
                            <ValidationProvider
                              rules="required"
                              v-slot="{ errors }"
                            >
                              <v-text-field
                                id="location"
                                name="location"
                                type="text"
                                :label="$t('tranings.LOCATION')"
                                v-model="editedItem.location"
                                autocomplete="off"
                                :error="errors.length > 0"
                                :error-messages="errors[0]"
                              ></v-text-field>
                            </ValidationProvider>
                          </v-flex>
                          <v-flex xs12 md12>
                            <ValidationProvider
                              rules="required"
                              v-slot="{ errors }"
                            >
                              <v-textarea
                                id="description"
                                name="description"
                                type="text"
                                :label="$t('tranings.DESCRIPTION')"
                                v-model="editedItem.description"
                                autocomplete="off"
                                :error="errors.length > 0"
                                :error-messages="errors[0]"
                              ></v-textarea>
                            </ValidationProvider>
                          </v-flex>
                          <v-flex xs12 md12>
                            <v-file-input
                              show-size
                              label="File input"
                              :rules="fileRules"
                              @change="selectFile"
                              :value="current"
                            ></v-file-input>
                          </v-flex>
                          <v-flex xs12 md12>
                            <ValidationProvider
                              rules="required"
                              v-slot="{ errors }"
                            >
                              <!-- <v-autocomplete
                                v-model="selectedLists"
                                :items="allName"
                                item-text="name"
                                item-value="_id"
                                :label="$t('tranings.LIST')"
                                return-object
                                multiple
                                chips
                                :error="errors.length > 0"
                                :error-messages="errors[0]"
                              >
                                <template v-slot:prepend-item>
                                  <v-list-item ripple @click="toggle">
                                    <v-list-item-action>
                                      <v-icon
                                        :color="
                                          selectedLists.length > 0
                                            ? 'indigo darken-4'
                                            : ''
                                        "
                                      >
                                        {{ icon }}
                                      </v-icon>
                                    </v-list-item-action>
                                    <v-list-item-content>
                                      <v-list-item-title>
                                        Select All
                                      </v-list-item-title>
                                    </v-list-item-content>
                                  </v-list-item>
                                  <v-divider class="mt-2"></v-divider>
                                </template>
                              </v-autocomplete> -->
                              <v-autocomplete
                                v-model="selectedLists"
                                chips
                                clearable
                                multiple
                                :items="allName"
                                item-text="name"
                                item-value="_id"
                                :label="$t('tranings.LIST')"
                                return-object
                                :error="errors.length > 0"
                                :error-messages="errors[0]"
                              >
                                <template v-slot:prepend-item>
                                  <v-list-item ripple @click="toggle">
                                    <v-list-item-action>
                                      <v-icon
                                        :color="
                                          selectedLists.length > 0
                                            ? 'indigo darken-4'
                                            : ''
                                        "
                                      >
                                        {{ icon }}
                                      </v-icon>
                                    </v-list-item-action>
                                    <v-list-item-content>
                                      <v-list-item-title>
                                        Select All
                                      </v-list-item-title>
                                    </v-list-item-content>
                                  </v-list-item>
                                  <v-divider
                                    class="mt-2"
                                  ></v-divider> </template
                              ></v-autocomplete>
                            </ValidationProvider>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="red lighten3"
                        text
                        @click="close"
                        class="btnCancel"
                        >{{ $t('dataTable.CANCEL') }}</v-btn
                      >
                      <v-btn
                        color="green"
                        text
                        @click="save"
                        :disabled="invalid"
                        class="btnSave"
                        >{{ $t('dataTable.SAVE') }}</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </ValidationObserver>
            </v-flex>
          </v-layout>
        </template>
        <template v-slot:items="props">
          <td>{{ props.item.topic }}</td>
          <td>{{ props.item.description }}</td>
        </template>
        <template v-slot:[`item._id`]="{ item }">
          <td class="fill-height px-0">
            <v-layout class="justify-center">
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                    id="edit"
                    class="mx-1"
                    v-on="on"
                    fab
                    dark
                    small
                    icon
                    outlined
                    color="orange lighten-2"
                    elevation="0"
                    @click="editItem(item)"
                  >
                    <v-icon>mdi-clipboard-text-outline</v-icon>
                  </v-btn>
                </template>
                <span>{{ $t('dataTable.EDIT') }}</span>
              </v-tooltip>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                    id="delete"
                    class="mx-1"
                    v-on="on"
                    fab
                    dark
                    small
                    icon
                    outlined
                    color="red"
                    elevation="0"
                    @click="deleteItem(item)"
                  >
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                </template>
                <span>{{ $t('dataTable.DELETE') }}</span>
              </v-tooltip>
            </v-layout>
          </td>
        </template>
        <template v-slot:[`item.startDate`]="{ item }">
          {{ getFormat(item.startDate) }}
        </template>
        <template v-slot:[`item.endDate`]="{ item }">
          {{ getFormat(item.endDate) }}
        </template>
        <template v-slot:[`item.file`]="{ item }">
          <a :href="'http://localhost:3000/files/' + item.file">{{
            item.file
          }}</a>
        </template>
        <template
          v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }"
        >
          {{ pageStart }} - {{ pageStop }}
          {{ $t('dataTable.OF') }}
          {{ itemsLength }}
        </template>
        <template v-slot:no-data>{{ $t('dataTable.NO_DATA') }}</template>
        <template v-slot:no-results>{{ $t('dataTable.NO_RESULTS') }}</template>
      </v-data-table>
      <ErrorMessage />
      <SuccessMessage />
    </div>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'
import { format, addYears } from 'date-fns'

export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('tranings.ALLTRAININGS')} - %s`
    }
  },
  data() {
    return {
      searchInput: '',
      dataTableLoading: false,
      delayTimer: null,
      dialog: false,
      search: '',
      pagination: {},
      editedItem: {},
      defaultItem: {},
      fieldsToSearch: ['topic', 'description'],
      startDate: new Date().toISOString().substr(0, 10),
      endDate: new Date().toISOString().substr(0, 10),
      menustart: false,
      menuend: false,
      format,
      selectedLists: [],
      currentFile: undefined,
      fileRules: [(v) => !!v || 'File is required'],
      current: null
    }
  },
  computed: {
    formTitle() {
      return this.editedItem._id
        ? this.$t('dataTable.EDIT_TRAINING')
        : this.$t('dataTable.ADD_TRAINING')
    },
    allName() {
      return this.$store.state.users.allUsers
    },
    headers() {
      return [
        {
          text: this.$i18n.t('tranings.TOPIC'),
          align: 'left',
          sortable: true,
          value: 'topic'
        },
        {
          text: this.$i18n.t('tranings.START_DATE'),
          align: 'left',
          sortable: true,
          value: 'startDate'
        },
        {
          text: this.$i18n.t('tranings.END_DATE'),
          align: 'left',
          sortable: true,
          value: 'endDate'
        },
        {
          text: this.$i18n.t('tranings.LOCATION'),
          align: 'left',
          sortable: false,
          value: 'location'
        },
        {
          text: this.$i18n.t('tranings.FILE'),
          align: 'left',
          sortable: false,
          width: 200,
          value: 'file'
        },
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: '_id',
          sortable: false,
          width: 200
        }
      ]
    },
    items() {
      return this.$store.state.adminTrainings.trainings
    },
    totalItems() {
      return this.$store.state.adminTrainings.totalTrainings
    },
    likesAllList() {
      return this.selectedLists.length === this.allName.length
    },
    likesSomeList() {
      return this.selectedLists.length > 0 && !this.likesAllList
    },
    icon() {
      if (this.likesAllList) {
        return 'mdi-close-box'
      }
      if (this.likesSomeList) {
        return 'mdi-minus-box'
      }
      return 'mdi-checkbox-blank-outline'
    }
  },
  watch: {
    dialog(value) {
      return value ? true : this.close()
    },
    pagination: {
      async handler() {
        try {
          this.dataTableLoading = true
          await this.getTrainings(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
        }
      },
      deep: true
    },
    search() {
      clearTimeout(this.delayTimer)
      this.delayTimer = setTimeout(() => {
        this.doSearch()
      }, 400)
    }
  },
  methods: {
    ...mapActions([
      'getTrainings',
      'saveTraining',
      'editTraining',
      'deleteTraining',
      'getAllUsers',
      'uploadFile'
    ]),
    getFormat(date) {
      window.__localeId__ = this.$store.getters.locale
      if (window.__localeId__ === 'th') {
        return getFormat(addYears(new Date(date), 543), 'd MMMM yyyy')
      }
      return getFormat(new Date(date), 'd MMMM yyyy')
    },
    datePickerLocale() {
      return this.$store.getters.locale
    },
    toggle() {
      this.$nextTick(() => {
        if (this.likesAllList) {
          this.selectedLists = []
        } else {
          this.selectedLists = this.allName.slice()
        }
      })
    },
    close() {
      this.selectedLists = []
      this.dialog = false
      this.current = null
      this.startDate = new Date().toISOString().substr(0, 10)
      this.endDate = new Date().toISOString().substr(0, 10)
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
      }, 300)
      this.$nextTick(() => {
        this.$refs.observer.reset()
      })
    },
    async doSearch() {
      try {
        this.dataTableLoading = true
        await this.getTrainings(
          buildPayloadPagination(this.pagination, this.buildSearch())
        )
        this.dataTableLoading = false
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    buildSearch() {
      return this.search
        ? { query: this.search, fields: this.fieldsToSearch.join(',') }
        : {}
    },
    async save() {
      try {
        this.dataTableLoading = true
        await this.uploadFile(this.currentFile)
        // Updating item
        if (this.editedItem._id) {
          this.edited = {
            _id: this.editedItem._id,
            topic: this.editedItem.topic,
            startDate: format(new Date(this.startDate), 'yyyy-MM-dd'),
            endDate: format(new Date(this.endDate), 'yyyy-MM-dd'),
            location: this.editedItem.location,
            description: this.editedItem.description,
            file: this.currentFile.name,
            listnames: this.selectedLists
          }
          await this.editTraining(this.edited)
          await this.getTrainings(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        } else {
          // Creating new item
          await this.saveTraining({
            topic: this.editedItem.topic,
            startDate: this.startDate,
            endDate: this.endDate,
            location: this.editedItem.location,
            description: this.editedItem.description,
            file: this.currentFile.name,
            listnames: this.selectedLists
          })
          await this.getTrainings(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        }
        this.close()
        return
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
        this.close()
      }
    },
    editItem(item) {
      this.selectedLists = item.listnames
      this.startDate = format(new Date(item.startDate), 'yyyy-MM-dd')
      this.endDate = format(new Date(item.endDate), 'yyyy-MM-dd')
      this.current = new File([item.file], item.file, {
        type: 'text/plain'
      })
      this.currentFile = this.current
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    async deleteItem(item) {
      try {
        const response = await this.$confirm(
          this.$t('common.DO_YOU_REALLY_WANT_TO_DELETE_THIS_ITEM'),
          {
            title: this.$t('common.WARNING'),
            buttonTrueText: this.$t('common.DELETE'),
            buttonFalseText: this.$t('common.CANCEL'),
            buttonTrueColor: 'red lighten3',
            buttonFalseColor: 'yellow'
          }
        )
        if (response) {
          this.dataTableLoading = true
          await this.deleteTraining(item._id)
          await this.getTrainings(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    selectFile(file) {
      this.currentFile = file
    }
  },
  async mounted() {
    await this.getAllUsers()
  }
}
</script>
