<template>
  <v-container fluid>
    <div>
      <v-layout row wrap>
        <Heading :title="$t('leaves.ADMINTITLE')" />
      </v-layout>
      <v-data-table
        :loading="dataTableLoading"
        :no-data-text="$t('dataTable.NO_DATA')"
        :no-results-text="$t('dataTable.NO_RESULTS')"
        :headers="headers"
        :items="items"
        :options.sync="pagination"
        :items-per-page="5"
        class="elevation-1"
        :footer-props="{
          'items-per-page-text': $t('dataTable.ROWS_PER_PAGE'),
          'items-per-page-options': [5, 10, 25]
        }"
      >
        <template v-slot:top>
          <v-layout wrap>
            <v-flex xs12 sm12 md4 mt-3 pl-4>
              <div class="text-left">
                <v-toolbar-title>{{
                  $t('myGovernmentItems.LEAVE')
                }}</v-toolbar-title>
              </div>
            </v-flex>
            <v-flex xs12 sm6 md4 px-3>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                :label="$t('dataTable.SEARCH')"
                id="search"
                single-line
                hide-details
                clearable
                clear-icon="mdi-close"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md4 text-xs-right mb-2 mt-2 pr-2>
              <ValidationObserver
                ref="observer"
                v-slot="{ invalid }"
                tag="form"
                @submit.prevent="submit()"
              >
                <v-dialog
                  v-model="dialog"
                  max-width="1100px"
                  content-class="dlgNewEditItem"
                  persistent
                >
                  <template v-slot:activator="{ on }">
                    <div class="text-right">
                      <v-btn
                        dark
                        color="teal lighten-1"
                        v-on="on"
                        class="btnNewItem pr-4"
                      >
                        <v-icon class="mr-2">mdi-plus</v-icon>
                        {{ $t('leaves.NEW_ITEM') }}
                      </v-btn>
                    </div>
                  </template>
                  <v-card>
                    <v-card-title class="teal lighten-1">
                      <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex xs12 md12>
                            <ValidationProvider
                              rules="required"
                              v-slot="{ errors }"
                            >
                              <v-autocomplete
                                :label="$t('leaves.NAME')"
                                :error="errors.length > 0"
                                :error-messages="errors[0]"
                                v-model="fullname"
                                :items="allName"
                                autocomplete="off"
                                class="inputName"
                                item-text="name"
                                item-value="_id"
                                clearable
                                return-object
                              />
                            </ValidationProvider>
                          </v-flex>

                          <v-flex xs12 md6>
                            <ValidationProvider
                              rules="required"
                              v-slot="{ errors }"
                            >
                              <v-select
                                clearable
                                id="type"
                                name="type"
                                v-model="editedItem.type"
                                :items="type"
                                item-text="name"
                                item-value="value"
                                :label="$t('leaves.TYPE')"
                                :error="errors.length > 0"
                                :error-messages="errors[0]"
                                class="inputType"
                              ></v-select>
                            </ValidationProvider>
                          </v-flex>
                          <v-flex xs12 md6>
                            <ValidationProvider
                              rules="required"
                              v-slot="{ errors }"
                            >
                              <v-text-field
                                id="quantity"
                                name="quantity"
                                type="number"
                                v-model="editedItem.quantity"
                                :label="$t('leaves.QUANTITY')"
                                :error="errors.length > 0"
                                :error-messages="errors[0]"
                                autocomplete="off"
                              ></v-text-field>
                            </ValidationProvider>
                          </v-flex>
                          <v-flex xs12 md12>
                            <v-menu
                              ref="menustart"
                              v-model="menustart"
                              :close-on-content-click="false"
                              :return-value.sync="startDate"
                              transition="scale-transition"
                              offset-y
                              min-width="auto"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  :value="getFormat(startDate)"
                                  :label="$t('leaves.START')"
                                  prepend-icon="mdi-calendar"
                                  readonly
                                  v-bind="attrs"
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="startDate"
                                no-title
                                scrollable
                                :locale="datePickerLocale()"
                              >
                                <v-spacer></v-spacer>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="menustart = false"
                                >
                                  Cancel
                                </v-btn>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="$refs.menustart.save(startDate)"
                                >
                                  OK
                                </v-btn>
                              </v-date-picker>
                            </v-menu>
                          </v-flex>
                          <v-flex xs12 md12>
                            <v-menu
                              ref="menuend"
                              v-model="menuend"
                              :close-on-content-click="false"
                              :return-value.sync="endDate"
                              transition="scale-transition"
                              offset-y
                              min-width="auto"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  :value="getFormat(endDate)"
                                  :label="$t('leaves.END')"
                                  prepend-icon="mdi-calendar"
                                  readonly
                                  v-bind="attrs"
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="endDate"
                                no-title
                                scrollable
                                :locale="datePickerLocale()"
                              >
                                <v-spacer></v-spacer>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="menuend = false"
                                >
                                  Cancel
                                </v-btn>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="$refs.menuend.save(endDate)"
                                >
                                  OK
                                </v-btn>
                              </v-date-picker>
                            </v-menu>
                          </v-flex>
                          <v-flex xs12 md12>
                            <ValidationProvider
                              rules="required"
                              v-slot="{ errors }"
                            >
                              <v-textarea
                                id="description"
                                name="description"
                                type="text"
                                :label="$t('leaves.DESCRIPTION')"
                                v-model="editedItem.description"
                                autocomplete="off"
                                :error="errors.length > 0"
                                :error-messages="errors[0]"
                              ></v-textarea>
                            </ValidationProvider>
                          </v-flex>
                          <v-flex xs12 md7>
                            <v-radio-group v-model="certificate" row>
                              <div>{{ $t('leaves.CERTIFICATE') }}</div>
                              <v-spacer></v-spacer>
                              <v-radio
                                label="Yes"
                                value="มีใบรับรองแพทย์"
                              ></v-radio>
                              <v-radio
                                label="No"
                                value="ไม่มีใบรับรองแพทย์"
                              ></v-radio>
                            </v-radio-group>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="red lighten3"
                        text
                        @click="close"
                        class="btnCancel"
                        >{{ $t('dataTable.CANCEL') }}</v-btn
                      >
                      <v-btn
                        color="green"
                        text
                        @click="save"
                        :disabled="invalid"
                        class="btnSave"
                        >{{ $t('dataTable.SAVE') }}</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </ValidationObserver>
            </v-flex>
          </v-layout>
        </template>
        <template v-slot:items="props">
          <td>{{ props.item.name }}</td>
          <td>{{ props.item.type }}</td>
        </template>
        <template v-slot:[`item._id`]="{ item }">
          <td class="fill-height px-0">
            <v-layout class="justify-center">
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                    id="edit"
                    class="mx-1"
                    v-on="on"
                    @click="editItem(item)"
                    fab
                    dark
                    small
                    icon
                    outlined
                    color="orange lighten-2"
                    elevation="0"
                  >
                    <v-icon>mdi-account-edit</v-icon>
                  </v-btn>
                </template>
                <span>{{ $t('dataTable.EDIT') }}</span>
              </v-tooltip>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                    id="delete"
                    class="mx-0"
                    v-on="on"
                    @click="deleteItem(item)"
                    fab
                    dark
                    small
                    icon
                    outlined
                    color="red"
                    elevation="0"
                  >
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                </template>
                <span>{{ $t('dataTable.DELETE') }}</span>
              </v-tooltip>
            </v-layout>
          </td>
        </template>
        <template v-slot:[`item.start`]="{ item }">
          {{ getFormat(item.start) }}
        </template>
        <template v-slot:[`item.end`]="{ item }">
          {{ getFormat(item.end) }}
        </template>
        <template
          v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }"
        >
          {{ pageStart }} - {{ pageStop }}
          {{ $t('dataTable.OF') }}
          {{ itemsLength }}
        </template>
        <template v-slot:no-data>{{ $t('dataTable.NO_DATA') }}</template>
        <template v-slot:no-results>{{ $t('dataTable.NO_RESULTS') }}</template>
      </v-data-table>
      <ErrorMessage />
      <SuccessMessage />
    </div>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'
import { format, addYears } from 'date-fns'

export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('leaves.ADMINTITLE')} - %s`
    }
  },
  data() {
    return {
      searchInput: '',
      dataTableLoading: true,
      delayTimer: null,
      dialog: false,
      search: '',
      pagination: {},
      editedItem: {},
      defaultItem: {},
      fieldsToSearch: ['fullname', 'type'],
      startDate: new Date().toISOString().substr(0, 10),
      endDate: new Date().toISOString().substr(0, 10),
      menustart: false,
      menuend: false,
      modal: false,
      certificate: null,
      format,
      listname: [],
      fullname: null
    }
  },
  computed: {
    formTitle() {
      return this.editedItem._id
        ? this.$t('leaves.EDIT_ITEM')
        : this.$t('leaves.NEW_ITEM')
    },
    allName() {
      return this.$store.state.users.allUsers
    },
    type() {
      return [
        { name: this.$t('leaves.LEAVETYPE.SICK_LEAVE'), value: 'Sick Leave' },
        {
          name: this.$t('leaves.LEAVETYPE.MATERNITY_LEAVE'),
          value: 'Maternity Leave'
        },
        {
          name: this.$t('leaves.LEAVETYPE.PERSONAL_LEAVE'),
          value: 'Personal Leave'
        },
        {
          name: this.$t('leaves.LEAVETYPE.VACATION_LEAVE'),
          value: 'Vacation Leave'
        },
        {
          name: this.$t('leaves.LEAVETYPE.ORDINATION_LEAVE'),
          value: 'Ordination Leave'
        },
        {
          name: this.$t('leaves.LEAVETYPE.MILITARY_SERVICE_LEAVE'),
          value: 'Military Service Leave'
        },
        { name: this.$t('leaves.LEAVETYPE.STUDY_LEAVE'), value: 'Study Leave' },
        {
          name: this.$t('leaves.LEAVETYPE.INTERNATIONAL_LEAVE'),
          value: 'International Leave'
        },
        {
          name: this.$t('leaves.LEAVETYPE.MARRIAGE_LEAVE'),
          value: 'Marriage Leave'
        }
      ]
    },
    headers() {
      return [
        {
          text: this.$i18n.t('leaves.NAME'),
          align: 'left',
          sortable: false,
          value: 'fullname'
        },
        {
          text: this.$i18n.t('leaves.TYPE'),
          align: 'left',
          sortable: false,
          value: 'type'
        },
        {
          text: this.$i18n.t('leaves.START'),
          align: 'left',
          sortable: false,
          value: 'start'
        },
        {
          text: this.$i18n.t('leaves.END'),
          align: 'left',
          sortable: false,
          value: 'end'
        },
        {
          text: this.$i18n.t('leaves.QUANTITY'),
          align: 'left',
          sortable: false,
          value: 'quantity'
        },
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: '_id',
          sortable: false,
          width: 200
        }
      ]
    },
    items() {
      return this.$store.state.adminLeaves.leaves
    },
    totalItems() {
      return this.$store.state.adminLeaves.totalLeaves
    }
  },
  watch: {
    dialog(value) {
      return value ? true : this.close()
    },
    pagination: {
      async handler() {
        try {
          this.dataTableLoading = true
          await this.getLeaves(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
        }
      },
      deep: true
    },
    search() {
      clearTimeout(this.delayTimer)
      this.delayTimer = setTimeout(() => {
        this.doSearch()
      }, 400)
    }
  },
  methods: {
    ...mapActions([
      'getLeaves',
      'saveLeave',
      'deleteLeave',
      'editLeave',
      'getAllUsers'
    ]),
    getFormat(date) {
      window.__localeId__ = this.$store.getters.locale
      if (window.__localeId__ === 'th') {
        return getFormat(addYears(new Date(date), 543), 'd MMMM yyyy')
      }
      return getFormat(new Date(date), 'd MMMM yyyy')
    },
    datePickerLocale() {
      return this.$store.getters.locale
    },
    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.$refs.observer.reset()
      })
      this.fullname = null
      this.startDate = new Date().toISOString().substr(0, 10)
      this.endDate = new Date().toISOString().substr(0, 10)
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
      }, 300)
    },
    async doSearch() {
      try {
        this.dataTableLoading = true
        await this.getLeaves(
          buildPayloadPagination(this.pagination, this.buildSearch())
        )
        this.dataTableLoading = false
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    buildSearch() {
      return this.search
        ? { query: this.search, fields: this.fieldsToSearch.join(',') }
        : {}
    },
    async save() {
      try {
        this.dataTableLoading = true
        // Updating item
        if (this.editedItem._id) {
          this.edit = {
            _id: this.editedItem._id,
            fullname: this.fullname.name,
            type: this.editedItem.type,
            start: format(new Date(this.startDate), 'yyyy-MM-dd'),
            end: format(new Date(this.endDate), 'yyyy-MM-dd'),
            quantity: this.editedItem.quantity,
            description: this.editedItem.description,
            certificate: this.certificate,
            _foreignKey: this.fullname._id
          }
          await this.editLeave(this.edit)
          await this.getLeaves(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        } else {
          // Creating new item
          await this.saveLeave({
            fullname: this.fullname.name,
            type: this.editedItem.type,
            start: this.startDate,
            end: this.endDate,
            quantity: this.editedItem.quantity,
            description: this.editedItem.description,
            certificate: this.certificate,
            _foreignKey: this.fullname._id
          })
          await this.getLeaves(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        }
        this.close()
        return
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
        this.close()
      }
    },
    editItem(item) {
      this.certificate = item.certificate
      this.startDate = format(new Date(item.start), 'yyyy-MM-dd')
      this.endDate = format(new Date(item.end), 'yyyy-MM-dd')
      this.fullname = { name: item.fullname, _id: item._foreignKey }
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    async deleteItem(item) {
      try {
        const response = await this.$confirm(
          this.$t('common.DO_YOU_REALLY_WANT_TO_DELETE_THIS_ITEM'),
          {
            title: this.$t('common.WARNING'),
            buttonTrueText: this.$t('common.DELETE'),
            buttonFalseText: this.$t('common.CANCEL'),
            buttonTrueColor: 'red lighten3',
            buttonFalseColor: 'yellow'
          }
        )
        if (response) {
          this.dataTableLoading = true
          await this.deleteLeave(item._id)
          await this.getLeaves(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    }
  },
  async mounted() {
    await this.getAllUsers()
  }
}
</script>
