<template>
  <v-container fluid>
    <v-layout row wrap>
      <Heading :title="$t('login.TITLE')" />
      <v-flex xs12 sm6 offset-sm3>
        <ValidationObserver v-slot="{ handleSubmit }">
          <form @submit.prevent="handleSubmit(submit)">
            <v-layout column>
              <v-flex>
                <v-text-field
                  id="email"
                  name="email"
                  type="text"
                  :label="$t('login.USERNAME')"
                  v-model="email"
                  autocomplete="off"
                ></v-text-field>
              </v-flex>
              <v-flex>
                <v-text-field
                  id="password"
                  name="password"
                  :label="$t('login.PASSWORD')"
                  v-model="password"
                  autocomplete="off"
                  @click:append="show = !show"
                  :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="show ? 'text' : 'password'"
                ></v-text-field>
              </v-flex>
              <v-flex text-xs-center mt-5 mb-3>
                <SubmitButton :buttonText="$t('login.LOGIN')" />
              </v-flex>
              <v-flex text-xs-center>
                <v-btn
                  @click="forgotPassword()"
                  small
                  text
                  class="btnForgotPassword"
                  >{{ $t('login.FORGOT_PASSWORD') }}</v-btn
                >
              </v-flex>
            </v-layout>
          </form>
        </ValidationObserver>
      </v-flex>
      <ErrorMessage />
    </v-layout>
  </v-container>
</template>

<script>
import router from '@/router'
import { mapActions } from 'vuex'

export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('login.TITLE')} - %s`
    }
  },
  data() {
    return {
      email: '',
      password: '',
      show: false
    }
  },
  methods: {
    ...mapActions(['userLogin']),
    async submit() {
      await this.userLogin({
        email: this.email,
        password: this.password
      })
    },
    forgotPassword() {
      window.open('https://myid.buu.ac.th/changepwd', '_blank')
    }
  },
  created() {
    if (this.$store.state.auth.isTokenSet) {
      router.push({ name: 'userProfile' })
    }
  }
}
</script>
