<template>
  <v-container fluid>
    <v-layout row wrap>
      <Heading :title="$t('myNewProfile.TITLE')" />
      <v-tabs color="deep-purple accent-4" centered>
        <v-tab>{{ $t('myNewProfile.PERSONAL') }}</v-tab>
        <v-tab>{{ $t('myNewProfile.CONTACT') }}</v-tab>
        <v-tab>{{ $t('myNewProfile.EDUCATION') }}</v-tab>
        <v-tab>{{ $t('myNewProfile.history.TITLE') }}</v-tab>
        <v-tab>{{ $t('myNewProfile.salary.TITLE') }}</v-tab>

        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs12 sm10 offset-sm2>
                  <form @submit.prevent="handleSubmit(submit)">
                    <v-container>
                      <v-layout wrap>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="prefixTH"
                            name="prefixTH"
                            type="text"
                            :label="$t('myNewProfile.PREFIX')"
                            v-model="prefixTH"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="nameTH"
                            name="nameTH"
                            type="text"
                            :label="$t('myNewProfile.NAME')"
                            v-model="nameTH"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="surnameTH"
                            name="surnameTH"
                            type="text"
                            :label="$t('myNewProfile.SURNAME')"
                            v-model="surnameTH"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="prefixEN"
                            name="prefixEN"
                            type="text"
                            :label="$t('myNewProfile.PREFIX')"
                            v-model="prefixEN"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="nameEN"
                            name="nameEN"
                            type="text"
                            :label="$t('myNewProfile.NAME')"
                            v-model="nameEN"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="surnameEN"
                            name="surnameEN"
                            type="text"
                            :label="$t('myNewProfile.SURNAME')"
                            v-model="surnameEN"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="height"
                            name="height"
                            type="text"
                            :label="$t('myNewProfile.HEIGHT')"
                            v-model="height"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="weight"
                            name="weight"
                            type="text"
                            :label="$t('myNewProfile.WEIGHT')"
                            v-model="weight"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="blood"
                            name="blood"
                            type="text"
                            :label="$t('myNewProfile.BLOOD')"
                            v-model="blood"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="idCard"
                            name="idCard"
                            type="text"
                            :label="$t('myNewProfile.ID_CARD')"
                            v-model="idCard"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="birthdate"
                            name="birthdate"
                            type="text"
                            :label="$t('myNewProfile.BIRTHDATE')"
                            :value="getFormat(this.birthdate)"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="status"
                            name="status"
                            type="text"
                            :label="$t('myNewProfile.STATUS')"
                            v-model="status"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="religion"
                            name="religion"
                            type="text"
                            :label="$t('myNewProfile.RELIGION')"
                            v-model="religion"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="nationality"
                            name="nationality"
                            type="text"
                            :label="$t('myNewProfile.NATIONALITY')"
                            v-model="nationality"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="ethnicity"
                            name="ethnicity"
                            type="text"
                            :label="$t('myNewProfile.ETHNICITY')"
                            v-model="ethnicity"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="serviceDay"
                            name="serviceDay"
                            type="text"
                            :label="$t('myNewProfile.SERVICEDAY')"
                            :value="getFormat(this.serviceDay)"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="sixtyDay"
                            name="sixtyDay"
                            type="text"
                            :label="$t('myNewProfile.SIXTYDAY')"
                            :value="getFormat(this.sixtyDay)"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="retirementDay"
                            name="retirementDay"
                            type="text"
                            :label="$t('myNewProfile.RETIREMENTDAY')"
                            :value="getFormat(this.retirementDay)"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="fiscalYear"
                            name="fiscalYear"
                            type="text"
                            :label="$t('myNewProfile.FISCALYEAR')"
                            :value="getFormatYYYY(fiscalYear)"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="ratenumber"
                            name="ratenumber"
                            type="text"
                            :label="$t('myNewProfile.RATENUMBER')"
                            v-model="ratenumber"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="position"
                            name="position"
                            type="text"
                            :label="$t('myNewProfile.POSITION')"
                            v-model="position"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="division"
                            name="division"
                            type="text"
                            :label="$t('myNewProfile.DIVISION')"
                            v-model="division"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="work"
                            name="work"
                            type="text"
                            :label="$t('myNewProfile.WORK')"
                            v-model="work"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="campus"
                            name="campus"
                            type="text"
                            :label="$t('myNewProfile.CAMPUS')"
                            v-model="campus"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="affiliate"
                            name="affiliate"
                            type="text"
                            :label="$t('myNewProfile.AFFILIATE')"
                            v-model="affiliate"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </form>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs12 sm8 offset-sm2>
                  <ValidationObserver v-slot="{ handleSubmit }">
                    <form @submit.prevent="handleSubmit(submit)">
                      <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex xs12 md6>
                            <ValidationProvider
                              rules="required"
                              v-slot="{ errors }"
                            >
                              <v-text-field
                                id="phone"
                                name="phone"
                                type="tel"
                                :label="$t('myNewProfile.PHONE')"
                                v-model="phone"
                                maxlength="10"
                                :error="errors.length > 0"
                                :error-messages="errors[0]"
                                autocomplete="off"
                                outlined
                              ></v-text-field>
                            </ValidationProvider>
                          </v-flex>
                          <v-flex xs12 md6>
                            <ValidationProvider
                              rules="required|email"
                              v-slot="{ errors }"
                            >
                              <v-text-field
                                id="email"
                                name="email"
                                type="email"
                                :label="$t('myNewProfile.EMAIL')"
                                v-model="email"
                                :error="errors.length > 0"
                                :error-messages="errors[0]"
                                autocomplete="off"
                                outlined
                              ></v-text-field>
                            </ValidationProvider>
                          </v-flex>
                          <v-flex xs12 md12>
                            <ValidationProvider
                              rules="required"
                              v-slot="{ errors }"
                            >
                              <v-textarea
                                id="address"
                                name="address"
                                type="text"
                                :label="$t('myNewProfile.ADDRESS')"
                                v-model="address"
                                clear-icon="mdi-close"
                                :error="errors.length > 0"
                                :error-messages="errors[0]"
                                autocomplete="off"
                                outlined
                              ></v-textarea>
                            </ValidationProvider>
                          </v-flex>
                          <v-flex text-xs-center mt-5>
                            <SubmitButton
                              :buttonText="$t('myNewProfile.SAVE')"
                              customClass="btnSave"
                            />
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </form>
                  </ValidationObserver>
                </v-flex>
                <ErrorMessage />
                <SuccessMessage />
              </v-layout>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs12 sm10 offset-sm1>
                  <template>
                    <div>
                      <v-data-table
                        :loading="dataTableLoading"
                        :no-data-text="$t('dataTable.NO_DATA')"
                        :no-results-text="$t('dataTable.NO_RESULTS')"
                        :headers="headersEducation"
                        :items="itemsEducation"
                        :options.sync="pagination"
                        :items-per-page="5"
                        :search="search"
                        class="elevation-1"
                        :footer-props="{
                          'items-per-page-text': $t('dataTable.ROWS_PER_PAGE'),
                          'items-per-page-options': [5, 10, 25]
                        }"
                      >
                        <template v-slot:top>
                          <v-layout wrap>
                            <v-flex xs12 sm12 md4 mt-3 pl-4>
                              <div class="text-left">
                                <v-toolbar-title>{{
                                  $t('myNewProfile.educations.TITLE')
                                }}</v-toolbar-title>
                              </div>
                            </v-flex>
                            <v-flex xs12 sm6 md4 px-3>
                              <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                :label="$t('dataTable.SEARCH')"
                                id="search"
                                single-line
                                hide-details
                                clearable
                                clear-icon="mdi-close"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                        </template>
                        <template v-slot:items="props">
                          <td>{{ props.item.name }}</td>
                          <td>{{ props.item.abbreviation }}</td>
                          <td>{{ props.item.major }}</td>
                          <td>{{ props.item.year }}</td>
                          <td>{{ props.item.institution }}</td>
                        </template>
                        <template
                          v-slot:[`footer.page-text`]="{
                            pageStart,
                            pageStop,
                            itemsLength
                          }"
                        >
                          {{ pageStart }} - {{ pageStop }}
                          {{ $t('dataTable.OF') }}
                          {{ itemsLength }}
                        </template>
                        <template v-slot:no-data>{{
                          $t('dataTable.NO_DATA')
                        }}</template>
                        <template v-slot:no-results>{{
                          $t('dataTable.NO_RESULTS')
                        }}</template>
                      </v-data-table>
                    </div>
                  </template>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs12 sm10 offset-sm1>
                  <template>
                    <div>
                      <v-data-table
                        :loading="dataTableLoading"
                        :no-data-text="$t('dataTable.NO_DATA')"
                        :no-results-text="$t('dataTable.NO_RESULTS')"
                        :headers="headersHistory"
                        :items="itemsHistory"
                        :options.sync="pagination"
                        :items-per-page="5"
                        :search="search"
                        class="elevation-1"
                        :footer-props="{
                          'items-per-page-text': $t('dataTable.ROWS_PER_PAGE'),
                          'items-per-page-options': [5, 10, 25]
                        }"
                      >
                        <template v-slot:top>
                          <v-layout wrap>
                            <v-flex xs12 sm12 md4 mt-3 pl-4>
                              <div class="text-left">
                                <v-toolbar-title>{{
                                  $t('myNewProfile.history.TITLE')
                                }}</v-toolbar-title>
                              </div>
                            </v-flex>
                            <v-flex xs12 sm6 md4 px-3>
                              <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                :label="$t('dataTable.SEARCH')"
                                id="search"
                                single-line
                                hide-details
                                clearable
                                clear-icon="mdi-close"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                        </template>
                        <template v-slot:items="props">
                          <td>{{ props.item.directive }}</td>
                          <td>{{ props.item.date }}</td>
                          <td>{{ props.item.position }}</td>
                          <td>{{ props.item.effectual }}</td>
                          <td>{{ props.item.detail }}</td>
                          <td>{{ props.item.fiscalYear }}</td>
                        </template>

                        <template v-slot:[`item.date`]="{ item }">
                          {{ getFormat(item.date) }}
                        </template>
                        <template v-slot:[`item.effectual`]="{ item }">
                          {{ getFormat(item.effectual) }}
                        </template>
                        <template
                          v-slot:[`footer.page-text`]="{
                            pageStart,
                            pageStop,
                            itemsLength
                          }"
                        >
                          {{ pageStart }} - {{ pageStop }}
                          {{ $t('dataTable.OF') }}
                          {{ itemsLength }}
                        </template>
                        <template v-slot:no-data>{{
                          $t('dataTable.NO_DATA')
                        }}</template>
                        <template v-slot:no-results>{{
                          $t('dataTable.NO_RESULTS')
                        }}</template>
                      </v-data-table>
                    </div>
                  </template>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs12 sm10 offset-sm1>
                  <template>
                    <div>
                      <v-data-table
                        :loading="dataTableLoading"
                        :no-data-text="$t('dataTable.NO_DATA')"
                        :no-results-text="$t('dataTable.NO_RESULTS')"
                        :headers="headersSalary"
                        :items="itemsSalary"
                        :options.sync="pagination"
                        :items-per-page="5"
                        :search="search"
                        class="elevation-1"
                        :footer-props="{
                          'items-per-page-text': $t('dataTable.ROWS_PER_PAGE'),
                          'items-per-page-options': [5, 10, 25]
                        }"
                      >
                        <template v-slot:top>
                          <v-layout wrap>
                            <v-flex xs12 sm12 md4 mt-3 pl-4>
                              <div class="text-left">
                                <v-toolbar-title>{{
                                  $t('myNewProfile.salary.TITLE')
                                }}</v-toolbar-title>
                              </div>
                            </v-flex>
                            <v-flex xs12 sm6 md4 px-3>
                              <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                :label="$t('dataTable.SEARCH')"
                                id="search"
                                single-line
                                hide-details
                                clearable
                                clear-icon="mdi-close"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                        </template>
                        <template v-slot:items="props">
                          <td>{{ props.item.directive }}</td>
                          <td>{{ props.item.date }}</td>
                          <td>{{ props.item.salary }}</td>
                          <td>{{ props.item.effectual }}</td>
                          <td>{{ props.item.detail }}</td>
                        </template>
                        <template v-slot:[`item.date`]="{ item }">
                          {{ getFormat(item.date) }}
                        </template>
                        <template v-slot:[`item.effectual`]="{ item }">
                          {{ getFormat(item.effectual) }}
                        </template>
                        <template
                          v-slot:[`footer.page-text`]="{
                            pageStart,
                            pageStop,
                            itemsLength
                          }"
                        >
                          {{ pageStart }} - {{ pageStop }}
                          {{ $t('dataTable.OF') }}
                          {{ itemsLength }}
                        </template>
                        <template v-slot:no-data>{{
                          $t('dataTable.NO_DATA')
                        }}</template>
                        <template v-slot:no-results>{{
                          $t('dataTable.NO_RESULTS')
                        }}</template>
                      </v-data-table>
                    </div>
                  </template>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </v-layout>
  </v-container>
</template>
<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'
import { format, addYears } from 'date-fns'

export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('myNewProfile.TITLE')} - %s`
    }
  },
  data() {
    return {
      searchInput: '',
      dataTableLoading: true,
      delayTimer: null,
      editedItem: {},
      search: '',
      pagination: {},
      deleted: {},
      dialog: false,
      fieldsToSearch: ['name', 'abbreviation', 'major', 'year', 'institution'],
      format,
      birthdate: null,
      serviceDay: null,
      sixtyDay: null,
      retirementDay: null,
      year: [
        2564,
        2563,
        2562,
        2561,
        2560,
        2559,
        2558,
        2557,
        2556,
        2555,
        2554,
        2553,
        2552,
        2551,
        2550
      ]
    }
  },
  computed: {
    prefixTH() {
      return this.$store.state.profile.profile.prefix
    },
    nameTH() {
      return this.$store.state.profile.profile.nameTH
    },
    surnameTH() {
      return this.$store.state.profile.profile.surnameTH
    },
    prefixEN() {
      return this.$store.state.profile.profile.prefixEN
    },
    nameEN() {
      return this.$store.state.profile.profile.nameEN
    },
    surnameEN() {
      return this.$store.state.profile.profile.surnameEN
    },
    height() {
      return this.$store.state.profile.profile.height
    },
    weight() {
      return this.$store.state.profile.profile.weight
    },
    blood() {
      return this.$store.state.profile.profile.blood
    },
    idCard() {
      return this.$store.state.profile.profile.idCard
    },
    status() {
      return this.$store.state.profile.profile.status
    },
    religion() {
      return this.$store.state.profile.profile.religion
    },
    nationality() {
      return this.$store.state.profile.profile.nationality
    },
    ethnicity() {
      return this.$store.state.profile.profile.ethnicity
    },
    fiscalYear() {
      return this.$store.state.profile.profile.fiscalYear
    },
    ratenumber() {
      return this.$store.state.profile.profile.ratenumber
    },
    position() {
      return this.$store.state.profile.profile.position
    },
    division() {
      return this.$store.state.profile.profile.division
    },
    work() {
      return this.$store.state.profile.profile.work
    },
    campus() {
      return this.$store.state.profile.profile.campus
    },
    affiliate() {
      return this.$store.state.profile.profile.affiliate
    },
    phone: {
      get() {
        return this.$store.state.profile.profile.phone
      },
      set(value) {
        const data = {
          key: 'phone',
          value
        }
        this.addProfileData(data)
      }
    },
    email: {
      get() {
        return this.$store.state.profile.profile.email
      },
      set(value) {
        const data = {
          key: 'email',
          value
        }
        this.addProfileData(data)
      }
    },
    address: {
      get() {
        return this.$store.state.profile.profile.address
      },
      set(value) {
        const data = {
          key: 'address',
          value
        }
        this.addProfileData(data)
      }
    },
    headersEducation() {
      return [
        {
          text: this.$i18n.t('myNewProfile.educations.NAME'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$i18n.t('myNewProfile.educations.ABBREVIATION'),
          align: 'left',
          sortable: false,
          value: 'abbreviation'
        },
        {
          text: this.$i18n.t('myNewProfile.educations.MAJOR'),
          align: 'left',
          sortable: false,
          value: 'major'
        },
        {
          text: this.$i18n.t('myNewProfile.educations.YEAR'),
          align: 'left',
          sortable: true,
          value: 'year'
        },
        {
          text: this.$i18n.t('myNewProfile.educations.INSTITUTION'),
          align: 'left',
          sortable: false,
          value: 'institution'
        }
      ]
    },
    headersHistory() {
      return [
        {
          text: this.$i18n.t('myNewProfile.history.DIRECTIVE'),
          align: 'left',
          sortable: false,
          value: 'directive'
        },
        {
          text: this.$i18n.t('myNewProfile.history.DATE'),
          align: 'left',
          sortable: true,
          value: 'date'
        },
        {
          text: this.$i18n.t('myNewProfile.history.POSITION'),
          align: 'left',
          sortable: false,
          value: 'position'
        },
        {
          text: this.$i18n.t('myNewProfile.history.EFFECTUAL'),
          align: 'left',
          sortable: true,
          value: 'effectual'
        },
        {
          text: this.$i18n.t('myNewProfile.history.DETAIL'),
          align: 'left',
          sortable: false,
          value: 'detail'
        },
        {
          text: this.$i18n.t('myNewProfile.history.FISCALYEAR'),
          align: 'left',
          sortable: true,
          value: 'fiscalYear'
        }
      ]
    },
    headersSalary() {
      return [
        {
          text: this.$i18n.t('myNewProfile.salary.DIRECTIVE'),
          align: 'left',
          sortable: false,
          value: 'directive'
        },
        {
          text: this.$i18n.t('myNewProfile.salary.DATE'),
          align: 'left',
          sortable: true,
          value: 'date'
        },
        {
          text: this.$i18n.t('myNewProfile.salary.SALARY'),
          align: 'left',
          sortable: true,
          value: 'salary'
        },
        {
          text: this.$i18n.t('myNewProfile.salary.EFFECTUAL'),
          align: 'left',
          sortable: true,
          value: 'effectual'
        },
        {
          text: this.$i18n.t('myNewProfile.salary.DETAIL'),
          align: 'left',
          sortable: false,
          value: 'detail'
        }
      ]
    },
    formTitle() {
      return this.editedItem.name
        ? this.$t('dataTable.EDIT_EDUCATION')
        : this.$t('dataTable.ADD_EDUCATION')
    },
    itemsEducation() {
      return this.$store.state.profile.profile.educations
    },
    itemsHistory() {
      return this.$store.state.profile.profile.historys
    },
    itemsSalary() {
      return this.$store.state.profile.profile.salarys
    }
  },
  methods: {
    ...mapActions([
      'getProfile',
      'addProfileData',
      'saveProfile',
      'createProfile',
      'deleteProfile',
      'updateProfile'
    ]),
    getFormat(date) {
      window.__localeId__ = this.$store.getters.locale
      if (window.__localeId__ === 'th') {
        return getFormat(addYears(new Date(date), 543), 'd MMMM yyyy')
      }
      return getFormat(new Date(date), 'd MMMM yyyy')
    },
    getFormatYYYY(date) {
      if (window.__localeId__ === 'th') {
        return date + 543
      }
      return date
    },
    async submit() {
      await this.saveProfile({
        phone: this.phone,
        email: this.email,
        address: this.address
      })
    },
    buildSearch() {
      return this.search
        ? { query: this.search, fields: this.fieldsToSearch.join(',') }
        : {}
    },
    close() {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
      }, 300)
    },
    async save() {
      try {
        this.dataTableLoading = true
        // Updating item
        if (this.editedItem._id) {
          await this.updateProfile(this.editedItem)
          await this.getProfile(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        } else {
          // Creating new item
          await this.createProfile({
            educations: [
              {
                name: this.editedItem.name,
                abbreviation: this.editedItem.abbreviation,
                major: this.editedItem.major,
                year: this.editedItem.year,
                institution: this.editedItem.institution
              }
            ]
          })
          await this.getProfile(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        }
        this.close()
        return
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
        this.close()
      }
    },
    editItem(item) {
      item = {
        _id: item._id,
        name: item.name,
        abbreviation: item.abbreviation,
        major: item.major,
        year: item.year,
        institution: item.institution,
        userId: this.$store.state.profile.profile._id
      }
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    async deleteItem(item) {
      const userId = {
        _id: this.$store.state.profile.profile._id,
        eduId: item._id
      }
      try {
        const response = await this.$confirm(
          this.$t('common.DO_YOU_REALLY_WANT_TO_DELETE_THIS_ITEM'),
          {
            title: this.$t('common.WARNING'),
            buttonTrueText: this.$t('common.DELETE'),
            buttonFalseText: this.$t('common.CANCEL'),
            buttonTrueColor: 'red lighten3',
            buttonFalseColor: 'yellow'
          }
        )
        if (response) {
          this.dataTableLoading = true
          await this.deleteProfile(userId)
          await this.getProfile()
          this.dataTableLoading = false
        }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    getdate() {
      this.birthdate = this.$store.state.profile.profile.birthdate
      this.serviceDay = this.$store.state.profile.profile.serviceDay
      this.sixtyDay = this.$store.state.profile.profile.sixtyDay
      this.retirementDay = this.$store.state.profile.profile.retirementDay
    }
  },
  async mounted() {
    await this.getProfile()
    await this.getdate()
  },
  watch: {
    dialog(value) {
      return value ? true : this.close()
    },
    pagination: {
      async handler() {
        try {
          this.dataTableLoading = true
          await this.getProfile(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
        }
      },
      deep: true
    }
  }
}
</script>
