<template>
  <v-container fluid>
    <v-layout row wrap>
      <Heading :title="$t('insignia.TITLE')" />
    </v-layout>
    <div>
      <v-data-table
        :loading="dataTableLoading"
        :no-data-text="$t('insignia.NO_DATA')"
        :no-results-text="$t('insignia.NO_RESULTS')"
        :headers="headers"
        :items="items"
        :options.sync="pagination"
        :items-per-page="5"
        :search="search"
        class="elevation-1"
        :footer-props="{
          'items-per-page-text': $t('dataTable.ROWS_PER_PAGE'),
          'items-per-page-options': [5, 10, 25]
        }"
      >
        <template v-slot:top>
          <v-layout wrap>
            <v-flex xs12 sm12 mt-3>
              <v-card flat>
                <v-card-text>
                  <v-layout row wrap>
                    <v-flex xs12 sm10 offset-md4 mt-2>
                      <v-layout wrap>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="fullname"
                            name="fullname"
                            type="text"
                            :label="$t('insignia.FULLNAME')"
                            v-model="fullname"
                            autocomplete="off"
                            rounded
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md4>
                          <v-text-field
                            id="date"
                            name="date"
                            type="text"
                            :label="$t('insignia.APPOINTDAY')"
                            :value="getFormat(date)"
                            autocomplete="off"
                            rounded
                            readonly
                          >
                          </v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm12 md4 mt-2 pl-4>
              <div class="text-left">
                <v-toolbar-title>{{ $t('insignia.TITLE') }}</v-toolbar-title>
              </div>
            </v-flex>
            <v-flex xs12 sm6 md4 px-3>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                :label="$t('dataTable.SEARCH')"
                id="search"
                single-line
                hide-details
                clearable
                clear-icon="mdi-close"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </template>
        <template v-slot:items="props">
          <td>{{ props.item.name }}</td>
        </template>
        <template
          v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }"
        >
          {{ pageStart }} - {{ pageStop }}
          {{ $t('dataTable.OF') }}
          {{ itemsLength }}
        </template>
        <template v-slot:no-data>{{ $t('insignia.NO_DATA') }}</template>
        <template v-slot:no-results>{{ $t('insignia.NO_RESULTS') }}</template>
      </v-data-table>
      <ErrorMessage />
      <SuccessMessage />
    </div>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat } from '@/utils/utils.js'
import { format, addYears } from 'date-fns'
export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('insignia.TITLE')} - %s`
    }
  },
  data() {
    return {
      searchInput: '',
      dataTableLoading: false,
      delayTimer: null,
      dialog: false,
      search: '',
      pagination: {},
      editedItem: {},
      defaultItem: {},
      fieldsToSearch: ['name', 'condensed', 'year'],
      format,
      date: null
    }
  },
  computed: {
    fullname() {
      return this.$store.state.insignia.fullname
    },
    headers() {
      return [
        {
          text: this.$i18n.t('insignia.NAME'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$i18n.t('insignia.CONDENSED'),
          align: 'left',
          sortable: false,
          value: 'condensed'
        },
        {
          text: this.$i18n.t('insignia.YEAR'),
          align: 'left',
          sortable: true,
          value: 'year'
        }
      ]
    },
    items() {
      return this.$store.state.insignia.userInsignia
    }
  },
  methods: {
    ...mapActions(['getProfile']),
    getFormat(date) {
      if (date === '-') {
        return '-'
      }
      window.__localeId__ = this.$store.getters.locale
      if (window.__localeId__ === 'th') {
        return getFormat(addYears(new Date(date), 543), 'd MMMM yyyy')
      }
      return getFormat(new Date(date), 'd MMMM yyyy')
    },
    checkDate() {
      if (this.$store.state.insignia.userInsignia.length === 0) {
        this.date = '-'
      } else {
        this.date = this.$store.state.insignia.appointDay
      }
    },
    close() {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
      }, 300)
    },
    buildSearch() {
      return this.search
        ? { query: this.search, fields: this.fieldsToSearch.join(',') }
        : {}
    }
  },
  async mounted() {
    await this.getProfile()
    await this.checkDate()
  }
}
</script>
