<template>
  <v-container fluid>
    <div>
      <v-layout row wrap>
        <Heading :title="$t('research.TITLE')" />
      </v-layout>
      <v-data-table
        :loading="dataTableLoading"
        :no-data-text="$t('dataTable.NO_DATA')"
        :no-results-text="$t('dataTable.NO_RESULTS')"
        :headers="headers"
        :items="items"
        :options.sync="pagination"
        :items-per-page="5"
        class="elevation-1"
        :search="search"
        :footer-props="{
          'items-per-page-text': $t('dataTable.ROWS_PER_PAGE'),
          'items-per-page-options': [5, 10, 25]
        }"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
      >
        <template v-slot:top>
          <v-layout wrap>
            <v-flex xs12 sm12 md4 mt-3 pl-4>
              <div class="text-left">
                <v-toolbar-title>{{ $t('research.TITLE') }}</v-toolbar-title>
              </div>
            </v-flex>
            <v-flex xs12 sm6 md4 px-3>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                :label="$t('dataTable.SEARCH')"
                id="search"
                single-line
                hide-details
                clearable
                clear-icon="mdi-close"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md4 text-xs-right mb-2 mt-2 pr-2>
              <ValidationObserver
                ref="observer"
                v-slot="{ invalid }"
                tag="form"
                @submit.prevent="submit()"
                data-vv-scope="form-1"
              >
                <v-dialog
                  v-model="dialog"
                  persistent
                  max-width="1250px"
                  content-class="dlgNewEditItem"
                >
                  <template v-slot:activator="{ on }">
                    <div class="text-right">
                      <v-btn
                        dark
                        color="teal lighten-1"
                        v-on="on"
                        class="btnNewItem pr-4"
                        @click="tab = 'tab-1'"
                      >
                        <v-icon class="mr-2">mdi-plus</v-icon>
                        {{ $t('research.NEW_ITEM') }}
                      </v-btn>
                    </div>
                  </template>
                  <template v-if="view === false">
                    <v-card>
                      <v-card-title class="teal lighten-1">
                        <span class="headline">{{ formTitle }}</span>
                      </v-card-title>
                      <v-tabs
                        centered
                        color="deep-purple accent-4"
                        v-model="tab"
                      >
                        <v-tab href="#tab-1">{{
                          $t('research.INFORMATION')
                        }}</v-tab>
                        <v-tab href="#tab-2">{{
                          $t('research.PARTICIPANT')
                        }}</v-tab>
                        <v-tab-item value="tab-1">
                          <v-card-text>
                            <v-container grid-list-md>
                              <v-layout wrap>
                                <v-flex xs12 md12>
                                  <ValidationProvider
                                    rules="required"
                                    v-slot="{ errors }"
                                  >
                                    <v-text-field
                                      id="titleThai"
                                      name="titleThai"
                                      v-model="editedItem.titleThai"
                                      :label="$t('research.TITLE_THAI')"
                                      :error="errors.length > 0"
                                      :error-messages="errors[0]"
                                      autocomplete="off"
                                    ></v-text-field>
                                  </ValidationProvider>
                                </v-flex>
                                <v-flex xs12 md12>
                                  <ValidationProvider
                                    rules="required"
                                    v-slot="{ errors }"
                                  >
                                    <v-text-field
                                      id="titleEnglish "
                                      name="titleEnglish "
                                      v-model="editedItem.titleEnglish"
                                      :label="$t('research.TITLE_ENG')"
                                      :error="errors.length > 0"
                                      :error-messages="errors[0]"
                                      autocomplete="off"
                                    ></v-text-field>
                                  </ValidationProvider>
                                </v-flex>
                                <v-flex xs12 md6>
                                  <ValidationProvider
                                    rules="required"
                                    v-slot="{ errors }"
                                  >
                                    <v-text-field
                                      id="institute"
                                      name="institute"
                                      v-model="editedItem.institute"
                                      :label="$t('research.INSTITUTE')"
                                      :error="errors.length > 0"
                                      :error-messages="errors[0]"
                                      autocomplete="off"
                                    ></v-text-field>
                                  </ValidationProvider>
                                </v-flex>
                                <v-flex xs12 md6>
                                  <ValidationProvider
                                    rules="required"
                                    v-slot="{ errors }"
                                  >
                                    <v-text-field
                                      id="work"
                                      name="work"
                                      v-model="editedItem.work"
                                      :label="$t('research.WORK')"
                                      :error="errors.length > 0"
                                      :error-messages="errors[0]"
                                      autocomplete="off"
                                    ></v-text-field>
                                  </ValidationProvider>
                                </v-flex>
                                <v-flex xs12 md6>
                                  <ValidationProvider
                                    rules="required"
                                    v-slot="{ errors }"
                                  >
                                    <v-combobox
                                      id="researchFund"
                                      name="researchFund"
                                      :items="researchFund"
                                      v-model="editedItem.researchFund"
                                      :label="$t('research.RESEARCH_FUND')"
                                      :error="errors.length > 0"
                                      :error-messages="errors[0]"
                                    ></v-combobox>
                                  </ValidationProvider>
                                </v-flex>
                                <v-flex xs12 md6>
                                  <ValidationProvider
                                    rules="required"
                                    v-slot="{ errors }"
                                  >
                                    <v-combobox
                                      id="type"
                                      name="type"
                                      :items="type"
                                      v-model="editedItem.type"
                                      :label="$t('research.TYPE')"
                                      :error="errors.length > 0"
                                      :error-messages="errors[0]"
                                      style="font-size: 25px"
                                    ></v-combobox>
                                  </ValidationProvider>
                                </v-flex>
                                <v-flex xs12 md8>
                                  <ValidationProvider
                                    rules="required"
                                    v-slot="{ errors }"
                                  >
                                    <v-text-field
                                      id="expenditure"
                                      name="expenditure"
                                      type="number"
                                      v-model="editedItem.expenditure"
                                      :label="$t('research.EXPENDITURE')"
                                      :error="errors.length > 0"
                                      :error-messages="errors[0]"
                                      autocomplete="off"
                                    ></v-text-field>
                                  </ValidationProvider>
                                </v-flex>
                                <v-flex xs12 md4>
                                  <ValidationProvider
                                    rules="required"
                                    v-slot="{ errors }"
                                  >
                                    <v-combobox
                                      id="yearScholarship"
                                      name="yearScholarship"
                                      :items="year"
                                      v-model="editedItem.yearScholarship"
                                      :label="$t('research.YEAR')"
                                      :error="errors.length > 0"
                                      :error-messages="errors[0]"
                                    ></v-combobox>
                                  </ValidationProvider>
                                </v-flex>
                                <v-flex xs12 md12>
                                  <ValidationProvider
                                    rules="required"
                                    v-slot="{ errors }"
                                  >
                                    <v-textarea
                                      id="objective"
                                      name="objective"
                                      v-model="editedItem.objective"
                                      :label="$t('research.OBJECTIVE')"
                                      :error="errors.length > 0"
                                      :error-messages="errors[0]"
                                      autocomplete="off"
                                      rows="4"
                                    ></v-textarea>
                                  </ValidationProvider>
                                </v-flex>
                                <v-flex xs12 md12>
                                  <ValidationProvider
                                    rules="required"
                                    v-slot="{ errors }"
                                  >
                                    <v-textarea
                                      id="strategy"
                                      name="strategy"
                                      v-model="editedItem.strategy"
                                      :label="$t('research.STRATEGY')"
                                      :error="errors.length > 0"
                                      :error-messages="errors[0]"
                                      autocomplete="off"
                                      rows="4"
                                    ></v-textarea>
                                  </ValidationProvider>
                                </v-flex>
                                <v-flex xs12 md12>
                                  <ValidationProvider
                                    rules="required"
                                    v-slot="{ errors }"
                                  >
                                    <v-textarea
                                      id="abstract"
                                      name="abstract"
                                      v-model="editedItem.abstract"
                                      :label="$t('research.ABSTRACT')"
                                      :error="errors.length > 0"
                                      :error-messages="errors[0]"
                                      autocomplete="off"
                                      rows="4"
                                    ></v-textarea>
                                  </ValidationProvider>
                                </v-flex>
                                <v-flex xs12 md12>
                                  <v-file-input
                                    show-size
                                    :label="$t('research.RELATED_FILE')"
                                    :rules="fileRules"
                                    @change="selectFile"
                                    :value="current"
                                  ></v-file-input>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-card-text>
                        </v-tab-item>
                        <v-tab-item value="tab-2">
                          <v-card-text>
                            <v-container grid-list-md>
                              <v-layout wrap>
                                <v-flex xs12 md12>
                                  <v-card flat>
                                    <v-card-text>
                                      <v-layout row wrap>
                                        <v-flex>
                                          <template>
                                            <div>
                                              <v-data-table
                                                :loading="dataTableLoading"
                                                :no-data-text="
                                                  $t('dataTable.NO_DATA')
                                                "
                                                :no-results-text="
                                                  $t('dataTable.NO_RESULTS')
                                                "
                                                :headers="participantHeaders"
                                                :items="participantItems"
                                                :options.sync="pagination"
                                                hide-default-footer
                                                class="elevation-1"
                                              >
                                                <template v-slot:top>
                                                  <v-layout wrap>
                                                    <v-flex
                                                      xs12
                                                      sm12
                                                      md8
                                                      mt-3
                                                      pl-4
                                                    >
                                                      <div class="text-left">
                                                        <v-toolbar-title
                                                          style="
                                                            font-size: 16px;
                                                          "
                                                          >{{
                                                            $t(
                                                              'research.PARTICIPANT'
                                                            )
                                                          }}</v-toolbar-title
                                                        >
                                                      </div>
                                                    </v-flex>
                                                    <v-flex
                                                      xs12
                                                      sm6
                                                      md4
                                                      text-right
                                                      mb-2
                                                      mt-2
                                                      pr-2
                                                    >
                                                      <ValidationObserver
                                                        ref="observer2"
                                                        v-slot="{ invalid }"
                                                        tag="form"
                                                        @submit.prevent="
                                                          submit('form-2')
                                                        "
                                                        data-vv-scope="form-2"
                                                      >
                                                        <v-dialog
                                                          v-model="
                                                            participantDialog
                                                          "
                                                          max-width="600px"
                                                          content-class="dlgNewEditItem"
                                                          persistent
                                                        >
                                                          <template
                                                            v-slot:activator="{
                                                              on
                                                            }"
                                                          >
                                                            <div
                                                              class="text-right"
                                                            >
                                                              <v-btn
                                                                dark
                                                                color="teal lighten-1"
                                                                v-on="on"
                                                                class="btnNewItem pr-4"
                                                              >
                                                                <v-icon
                                                                  class="mr-2"
                                                                  >mdi-plus</v-icon
                                                                >
                                                                <div
                                                                  style="
                                                                    font-size: 14px;
                                                                  "
                                                                >
                                                                  {{
                                                                    $t(
                                                                      'research.NEW_PARTICIPANT'
                                                                    )
                                                                  }}
                                                                </div>
                                                              </v-btn>
                                                            </div>
                                                          </template>
                                                          <v-card>
                                                            <v-card-title>
                                                              <span
                                                                class="headline"
                                                                >{{
                                                                  $t(
                                                                    'research.PARTICIPANT'
                                                                  )
                                                                }}</span
                                                              >
                                                            </v-card-title>
                                                            <v-card-text>
                                                              <v-container
                                                                grid-list-md
                                                              >
                                                                <v-layout wrap>
                                                                  <v-flex
                                                                    xs12
                                                                    md12
                                                                  >
                                                                    <ValidationProvider
                                                                      rules="required"
                                                                      v-slot="{
                                                                        errors
                                                                      }"
                                                                    >
                                                                      <v-autocomplete
                                                                        :label="
                                                                          $t(
                                                                            'research.PARTICIPANT'
                                                                          )
                                                                        "
                                                                        :error="
                                                                          errors.length >
                                                                          0
                                                                        "
                                                                        :error-messages="
                                                                          errors[0]
                                                                        "
                                                                        v-model="
                                                                          editedparticipantItem.name
                                                                        "
                                                                        :items="
                                                                          allName
                                                                        "
                                                                        autocomplete="off"
                                                                        class="inputName"
                                                                        item-text="name"
                                                                        item-value="_id"
                                                                        clearable
                                                                        return-object
                                                                      />
                                                                    </ValidationProvider>
                                                                  </v-flex>
                                                                  <v-flex
                                                                    xs12
                                                                    md12
                                                                  >
                                                                    <ValidationProvider
                                                                      rules="required"
                                                                      v-slot="{
                                                                        errors
                                                                      }"
                                                                    >
                                                                      <v-select
                                                                        id="position"
                                                                        name="position"
                                                                        :items="
                                                                          positionItems
                                                                        "
                                                                        v-model="
                                                                          editedparticipantItem.position
                                                                        "
                                                                        :label="
                                                                          $t(
                                                                            'research.POSITION'
                                                                          )
                                                                        "
                                                                        :error="
                                                                          errors.length >
                                                                          0
                                                                        "
                                                                        :error-messages="
                                                                          errors[0]
                                                                        "
                                                                      ></v-select>
                                                                    </ValidationProvider>
                                                                  </v-flex>
                                                                  <v-flex
                                                                    xs12
                                                                    md12
                                                                  >
                                                                    <ValidationProvider
                                                                      rules="required"
                                                                      v-slot="{
                                                                        errors
                                                                      }"
                                                                    >
                                                                      <v-text-field
                                                                        id="percentWork"
                                                                        name="percentWork"
                                                                        type="number"
                                                                        suffix="%"
                                                                        v-model="
                                                                          percent
                                                                        "
                                                                        min="0"
                                                                        :max="
                                                                          maxpercent
                                                                        "
                                                                        oninput="if(Number(this.value) > Number(this.max)) this.value = this.max;"
                                                                        :label="
                                                                          $t(
                                                                            'research.PERCENT_WORK'
                                                                          )
                                                                        "
                                                                        :error="
                                                                          errors.length >
                                                                          0
                                                                        "
                                                                        :error-messages="
                                                                          errors[0]
                                                                        "
                                                                        autocomplete="off"
                                                                      ></v-text-field>
                                                                    </ValidationProvider>
                                                                  </v-flex>
                                                                </v-layout>
                                                              </v-container>
                                                            </v-card-text>

                                                            <v-card-actions>
                                                              <v-spacer></v-spacer>
                                                              <v-btn
                                                                color="red lighten3"
                                                                text
                                                                @click="
                                                                  participantClose
                                                                "
                                                                class="btnCancel"
                                                                >{{
                                                                  $t(
                                                                    'dataTable.CANCEL'
                                                                  )
                                                                }}</v-btn
                                                              >
                                                              <v-btn
                                                                color="green"
                                                                text
                                                                @click="
                                                                  participantSave
                                                                "
                                                                :disabled="
                                                                  invalid
                                                                "
                                                                class="btnSave"
                                                                >{{
                                                                  $t(
                                                                    'dataTable.SAVE'
                                                                  )
                                                                }}</v-btn
                                                              >
                                                            </v-card-actions>
                                                          </v-card>
                                                        </v-dialog>
                                                      </ValidationObserver>
                                                    </v-flex>
                                                  </v-layout>
                                                </template>
                                                <template
                                                  v-slot:[`item._id`]="{ item }"
                                                >
                                                  <td class="fill-height px-0">
                                                    <v-layout
                                                      class="justify-center"
                                                    >
                                                      <v-tooltip top>
                                                        <template
                                                          v-slot:activator="{
                                                            on
                                                          }"
                                                        >
                                                          <v-btn
                                                            id="delete"
                                                            class="mx-0"
                                                            v-on="on"
                                                            fab
                                                            dark
                                                            small
                                                            color="red"
                                                            elevation="0"
                                                            @click="
                                                              deleteParticipant(
                                                                item
                                                              )
                                                            "
                                                          >
                                                            <v-icon
                                                              >mdi-account-remove</v-icon
                                                            >
                                                          </v-btn>
                                                        </template>
                                                        <span>{{
                                                          $t('dataTable.DELETE')
                                                        }}</span>
                                                      </v-tooltip>
                                                    </v-layout>
                                                  </td>
                                                </template>
                                              </v-data-table>
                                              <ErrorMessage />
                                              <SuccessMessage />
                                            </div>
                                          </template>
                                        </v-flex>
                                      </v-layout>
                                    </v-card-text>
                                  </v-card>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-card-text>
                        </v-tab-item>
                      </v-tabs>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="red lighten3"
                          text
                          @click="close"
                          class="btnCancel"
                          >{{ $t('dataTable.CANCEL') }}</v-btn
                        >
                        <v-btn
                          color="green"
                          text
                          @click="save"
                          :disabled="invalid"
                          class="btnSave"
                          >{{ $t('dataTable.SAVE') }}</v-btn
                        >
                      </v-card-actions>
                    </v-card>
                  </template>
                  <template v-else>
                    <v-card>
                      <v-card-title class="teal lighten-1">
                        <span class="headline">{{ $t('research.VIEW') }}</span>
                      </v-card-title>
                      <v-tabs
                        centered
                        color="deep-purple accent-4"
                        v-model="tab"
                      >
                        <v-tab href="#tab-1">{{
                          $t('research.INFORMATION')
                        }}</v-tab>
                        <v-tab href="#tab-2">{{
                          $t('research.PARTICIPANT')
                        }}</v-tab>
                        <v-tab-item value="tab-1">
                          <v-card-text>
                            <v-container grid-list-md>
                              <v-layout wrap>
                                <v-flex xs12 md12>
                                  <v-text-field
                                    id="titleThai"
                                    name="titleThai"
                                    v-model="editedItem.titleThai"
                                    :label="$t('research.TITLE_THAI')"
                                    autocomplete="off"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                <v-flex xs12 md12>
                                  <v-text-field
                                    id="titleEnglish "
                                    name="titleEnglish "
                                    v-model="editedItem.titleEnglish"
                                    :label="$t('research.TITLE_ENG')"
                                    autocomplete="off"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                <v-flex xs12 md6>
                                  <v-text-field
                                    id="institute"
                                    name="institute"
                                    v-model="editedItem.institute"
                                    :label="$t('research.INSTITUTE')"
                                    autocomplete="off"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                <v-flex xs12 md6>
                                  <v-text-field
                                    id="work"
                                    name="work"
                                    v-model="editedItem.work"
                                    :label="$t('research.WORK')"
                                    autocomplete="off"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                <v-flex xs12 md6>
                                  <v-combobox
                                    id="researchFund"
                                    name="researchFund"
                                    :items="researchFund"
                                    v-model="editedItem.researchFund"
                                    :label="$t('research.RESEARCH_FUND')"
                                    readonly
                                  ></v-combobox>
                                </v-flex>
                                <v-flex xs12 md6>
                                  <v-combobox
                                    id="type"
                                    name="type"
                                    :items="type"
                                    v-model="editedItem.type"
                                    :label="$t('research.TYPE')"
                                    readonly
                                  ></v-combobox>
                                </v-flex>
                                <v-flex xs12 md8>
                                  <v-text-field
                                    id="expenditure"
                                    name="expenditure"
                                    type="number"
                                    v-model="editedItem.expenditure"
                                    :label="$t('research.EXPENDITURE')"
                                    autocomplete="off"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                <v-flex xs12 md4>
                                  <v-combobox
                                    id="yearScholarship"
                                    name="yearScholarship"
                                    :items="year"
                                    v-model="editedItem.yearScholarship"
                                    :label="$t('research.YEAR')"
                                    readonly
                                  ></v-combobox>
                                </v-flex>
                                <v-flex xs12 md12>
                                  <v-textarea
                                    id="objective"
                                    name="objective"
                                    v-model="editedItem.objective"
                                    :label="$t('research.OBJECTIVE')"
                                    autocomplete="off"
                                    rows="4"
                                    readonly
                                  ></v-textarea>
                                </v-flex>
                                <v-flex xs12 md12>
                                  <v-textarea
                                    id="strategy"
                                    name="strategy"
                                    v-model="editedItem.strategy"
                                    :label="$t('research.STRATEGY')"
                                    autocomplete="off"
                                    rows="4"
                                    readonly
                                  ></v-textarea>
                                </v-flex>
                                <v-flex xs12 md12>
                                  <v-textarea
                                    id="abstract"
                                    name="abstract"
                                    v-model="editedItem.abstract"
                                    :label="$t('research.ABSTRACT')"
                                    autocomplete="off"
                                    rows="4"
                                    readonly
                                  ></v-textarea>
                                </v-flex>
                                <v-flex xs12 md12>
                                  <v-file-input
                                    show-size
                                    :label="$t('research.RELATED_FILE')"
                                    :rules="fileRules"
                                    @change="selectFile"
                                    :value="current"
                                    disabled
                                  ></v-file-input>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-card-text>
                        </v-tab-item>
                        <v-tab-item value="tab-2">
                          <v-card-text>
                            <v-container grid-list-md>
                              <v-layout wrap>
                                <v-flex xs12 md12>
                                  <v-card flat>
                                    <v-card-text>
                                      <v-layout row wrap>
                                        <v-flex>
                                          <template>
                                            <div>
                                              <v-data-table
                                                :loading="dataTableLoading"
                                                :no-data-text="
                                                  $t('dataTable.NO_DATA')
                                                "
                                                :no-results-text="
                                                  $t('dataTable.NO_RESULTS')
                                                "
                                                :headers="descriptionHeaders"
                                                :items="participantItems"
                                                :options.sync="pagination"
                                                hide-default-footer
                                                class="elevation-1"
                                              >
                                                <template v-slot:top>
                                                  <v-layout wrap>
                                                    <v-flex
                                                      xs12
                                                      sm12
                                                      md8
                                                      mt-3
                                                      pl-4
                                                    >
                                                      <div class="text-left">
                                                        <v-toolbar-title
                                                          style="
                                                            font-size: 16px;
                                                          "
                                                          >{{
                                                            $t(
                                                              'research.PARTICIPANT'
                                                            )
                                                          }}</v-toolbar-title
                                                        >
                                                      </div>
                                                    </v-flex>
                                                  </v-layout>
                                                </template>
                                              </v-data-table>
                                            </div>
                                          </template>
                                        </v-flex>
                                      </v-layout>
                                    </v-card-text>
                                  </v-card>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-card-text>
                        </v-tab-item>
                      </v-tabs>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="red lighten3"
                          text
                          @click="close"
                          class="btnCancel"
                          >{{ $t('dataTable.CANCEL') }}</v-btn
                        >
                      </v-card-actions>
                    </v-card>
                  </template>
                </v-dialog>
              </ValidationObserver>
            </v-flex>
          </v-layout>
        </template>
        <template v-slot:items="props">
          <td>{{ props.item.titleThai }}</td>
          <td>{{ props.item.institute }}</td>
          <td>{{ props.item.yearScholarship }}</td>
        </template>

        <template v-slot:[`item._id`]="{ item }">
          <template v-if="checkRole(item)">
            <td class="fill-height px-0">
              <v-layout class="justify-center">
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      id="edit"
                      icon
                      class="mx-0"
                      outlined
                      color="orange lighten-1"
                      v-on="on"
                      elevation="0"
                      fab
                      small
                      @click="editItem(item), (tab = 'tab-1')"
                    >
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                  </template>
                  <span>{{ $t('dataTable.EDIT') }}</span>
                </v-tooltip>
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      id="delete"
                      icon
                      class="mx-1"
                      outlined
                      color="red lighten-1"
                      v-on="on"
                      elevation="0"
                      fab
                      small
                      @click="deleteItem(item)"
                    >
                      <v-icon>mdi-delete</v-icon>
                    </v-btn>
                  </template>
                  <span>{{ $t('dataTable.DELETE') }}</span>
                </v-tooltip>
              </v-layout>
            </td>
          </template>
          <template v-else>
            <td class="fill-height px-0">
              <v-layout class="justify-center">
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      v-on="on"
                      class="mx-0"
                      icon
                      outlined
                      color="dark"
                      elevation="0"
                      fab
                      small
                      @click="description(item), (tab = 'tab-1')"
                    >
                      <v-icon>mdi-file-document-outline</v-icon>
                    </v-btn>
                  </template>
                  <span>{{ $t('dataTable.EDIT') }}</span>
                </v-tooltip>
              </v-layout>
            </td>
          </template>
        </template>
        <template v-slot:[`item.relatedFile`]="{ item }">
          <a :href="'http://localhost:3000/files/' + item.relatedFile">{{
            item.relatedFile
          }}</a>
        </template>
        <template
          v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }"
        >
          {{ pageStart }} - {{ pageStop }}
          {{ $t('dataTable.OF') }}
          {{ itemsLength }}
        </template>
        <template v-slot:no-data>{{ $t('dataTable.NO_DATA') }}</template>
        <template v-slot:no-results>{{ $t('dataTable.NO_RESULTS') }}</template>
      </v-data-table>
      <ErrorMessage />
      <SuccessMessage />
    </div>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { buildPayloadPagination } from '@/utils/utils.js'
export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('research.TITLE')} - %s`
    }
  },
  data() {
    return {
      searchInput: '',
      dataTableLoading: true,
      delayTimer: null,
      dialog: false,
      participantDialog: false,
      search: '',
      pagination: {},
      editedItem: {},
      defaultItem: {},
      fieldsToSearch: ['title'],
      id: this.$store.state.auth.user._id,
      year: [
        2564,
        2563,
        2562,
        2561,
        2560,
        2559,
        2558,
        2557,
        2556,
        2555,
        2554,
        2553,
        2552,
        2551,
        2550
      ],
      researchFund: ['ทุนวิจัยภายนอก', 'ทุนวิจัยภายใน'],
      type: ['เงินรายได้', 'เงินแผ่นดิน'],
      participantItems: [],
      participantIndex: -1,
      positionItems: ['หัวหน้าโครงการวิจัย', 'ผู้ส่วนร่วมโครงการวิจัย'],
      maxpercent: 100,
      percent: 0,
      fileRules: [(v) => !!v || 'File is required'],
      currentFile: undefined,
      current: null,
      editedparticipantItem: {},
      sortBy: 'updatedAt',
      sortDesc: true,
      view: false,
      tab: 'tab-1'
    }
  },
  computed: {
    ...mapGetters(['user']),
    formTitle() {
      return this.editedItem._id
        ? this.$t('research.EDIT_ITEM')
        : this.$t('research.NEW_ITEM')
    },
    allName() {
      return this.$store.state.users.allUsers
    },
    headers() {
      return [
        {
          text: this.$i18n.t('research.TITLE_NAME'),
          align: 'left',
          sortable: false,
          value: 'titleThai'
        },
        {
          text: this.$i18n.t('research.INSTITUTE'),
          align: 'left',
          sortable: false,
          value: 'institute'
        },
        {
          text: this.$i18n.t('research.YEAR'),
          align: 'left',
          sortable: true,
          value: 'yearScholarship'
        },
        {
          text: this.$i18n.t('research.RELATED_FILE'),
          align: 'left',
          sortable: false,
          value: 'relatedFile'
        },
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: '_id',
          sortable: false,
          width: 200
        }
      ]
    },
    participantHeaders() {
      return [
        {
          text: this.$i18n.t('research.PARTICIPANT'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$i18n.t('research.POSITION'),
          align: 'left',
          sortable: false,
          value: 'position'
        },
        {
          text: this.$i18n.t('research.PERCENT_WORK'),
          align: 'left',
          sortable: false,
          value: 'percentWork'
        },
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: '_id',
          sortable: false,
          width: 200
        }
      ]
    },
    descriptionHeaders() {
      return [
        {
          text: this.$i18n.t('research.PARTICIPANT'),
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: this.$i18n.t('research.POSITION'),
          align: 'left',
          sortable: false,
          value: 'position'
        },
        {
          text: this.$i18n.t('research.PERCENT_WORK'),
          align: 'left',
          sortable: false,
          value: 'percentWork'
        }
      ]
    },
    items() {
      return this.$store.state.research.userResearchs
    },
    totalItems() {
      return this.$store.state.research.userResearchs.length
    }
  },
  watch: {
    dialog(value) {
      return value ? true : this.close()
    },
    pagination: {
      async handler() {
        try {
          this.dataTableLoading = true
          await this.getUserResearchs(
            this.id,
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
        }
      },
      deep: true
    },
    search() {
      clearTimeout(this.delayTimer)
      this.delayTimer = setTimeout(() => {
        this.doSearch()
      }, 400)
    }
  },
  methods: {
    ...mapActions([
      'getUserResearchs',
      'getProfile',
      'getAllUsers',
      'saveUserResearch',
      'editUserResearch',
      'deleteUserResearch',
      'uploadFile'
    ]),
    checkpercent(value) {
      const real = this.maxpercent - parseInt(value)
      this.maxpercent = real
    },
    async doSearch() {
      try {
        this.dataTableLoading = true
        await this.getUserResearchs(
          this.id,
          buildPayloadPagination(this.pagination, this.buildSearch())
        )
        this.dataTableLoading = false
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    buildSearch() {
      return this.search
        ? { query: this.search, fields: this.fieldsToSearch.join(',') }
        : {}
    },
    editItem(item) {
      this.participantItems = []
      this.current = new File([item.relatedFile], item.relatedFile, {
        type: 'text/plain'
      })
      this.currentFile = this.current
      this.participantItems = item.participants
      this.maxpercent = 0
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    close() {
      this.dialog = false
      this.participantItems = []
      this.current = undefined
      this.currentFile = undefined
      this.maxpercent = 100
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
      }, 300)
      this.view = false
      this.$refs.observer.reset()
    },
    clear() {
      this.editedparticipantItem.name = '-'
      this.editedparticipantItem.position = '-'
      this.percent = 0
    },
    participantClose() {
      this.participantDialog = false
      this.$refs.observer.reset()
      this.clear()
    },
    participantSave() {
      console.log(this.editedparticipantItem.name)
      if (parseInt(this.percent) === 0) {
        this.dataTableLoading = false
        this.participantClose()
      } else {
        if (this.editedparticipantItem.position === 'หัวหน้าโครงการวิจัย') {
          this.participantItems.splice(0, 0, {
            _id: this.editedparticipantItem.name._id,
            name: this.editedparticipantItem.name.name,
            position: this.editedparticipantItem.position,
            percentWork: parseInt(this.percent)
          })
        } else {
          this.participantItems.push({
            _id: this.editedparticipantItem.name._id,
            name: this.editedparticipantItem.name.name,
            position: this.editedparticipantItem.position,
            percentWork: parseInt(this.percent)
          })
        }
        this.checkpercent(parseInt(this.percent))
        this.dataTableLoading = false
        this.participantClose()
      }
    },
    confirmcheckpercent() {
      if (this.maxpercent !== 0) {
        this.$confirm(this.$t('common.CHECKPERCENT'), {
          title: this.$t('common.WARNING'),
          buttonTrueText: this.$t('common.AGREE'),
          buttonFalseText: this.$t('common.CANCEL'),
          buttonTrueColor: 'green',
          buttonFalseColor: 'red'
        })
        return false
      }
      return true
    },
    async edit() {
      this.edited = {
        _id: this.editedItem._id,
        titleThai: this.editedItem.titleThai,
        titleEnglish: this.editedItem.titleEnglish,
        institute: this.editedItem.institute,
        work: this.editedItem.work,
        researchFund: this.editedItem.researchFund,
        type: this.editedItem.type,
        expenditure: this.editedItem.expenditure,
        yearScholarship: this.editedItem.yearScholarship,
        objective: this.editedItem.objective,
        strategy: this.editedItem.strategy,
        participants: this.participantItems,
        abstract: this.editedItem.abstract,
        relatedFile: this.currentFile.name
      }
      await this.editUserResearch(this.edited)
      await this.getUserResearchs(
        this.id,
        buildPayloadPagination(this.pagination, this.buildSearch())
      )
      this.dataTableLoading = false
      this.close()
    },
    async save() {
      try {
        this.dataTableLoading = true
        if (
          this.confirmcheckpercent() === true &&
          this.currentFile !== undefined &&
          this.currentFile !== null
        ) {
          await this.uploadFile(this.currentFile)
          // Updating item
          if (this.editedItem._id) {
            await this.edit()
          } else {
            // Creating new item
            await this.saveUserResearch({
              titleThai: this.editedItem.titleThai,
              titleEnglish: this.editedItem.titleEnglish,
              institute: this.editedItem.institute,
              work: this.editedItem.work,
              researchFund: this.editedItem.researchFund,
              type: this.editedItem.type,
              expenditure: this.editedItem.expenditure,
              yearScholarship: this.editedItem.yearScholarship,
              objective: this.editedItem.objective,
              strategy: this.editedItem.strategy,
              participants: this.participantItems,
              abstract: this.editedItem.abstract,
              relatedFile: this.currentFile.name
            })
            await this.getUserResearchs(
              this.id,
              buildPayloadPagination(this.pagination, this.buildSearch())
            )
            this.dataTableLoading = false
            this.close()
            return
          }
        }
        this.dataTableLoading = false
        return
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
        this.close()
      }
    },
    async deleteItem(item) {
      try {
        const response = await this.$confirm(
          this.$t('common.DO_YOU_REALLY_WANT_TO_DELETE_THIS_ITEM'),
          {
            title: this.$t('common.WARNING'),
            buttonTrueText: this.$t('common.DELETE'),
            buttonFalseText: this.$t('common.CANCEL'),
            buttonTrueColor: 'red lighten3',
            buttonFalseColor: 'yellow'
          }
        )
        if (response) {
          this.dataTableLoading = true
          await this.deleteUserResearch(item._id)
          await this.getUserResearchs(
            this.id,
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    async deleteParticipant(item) {
      try {
        this.participantIndex = this.participantItems.indexOf(item)
        const response = await this.$confirm(
          this.$t('common.DO_YOU_REALLY_WANT_TO_DELETE_THIS_ITEM'),
          {
            title: this.$t('common.WARNING'),
            buttonTrueText: this.$t('common.DELETE'),
            buttonFalseText: this.$t('common.CANCEL'),
            buttonTrueColor: 'red lighten3',
            buttonFalseColor: 'yellow'
          }
        )
        if (response) {
          this.dataTableLoading = true
          this.participantItems.splice(this.participantIndex, 1)
          this.participantIndex = -1
          this.dataTableLoading = false
          const newpercent = this.maxpercent + parseInt(item.percentWork)
          this.maxpercent = newpercent
        }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    selectFile(file) {
      this.currentFile = file
    },
    checkRole(item) {
      let role = false
      item.participants.forEach((element) => {
        if (
          this.id === element._id &&
          element.position === 'ผู้ส่วนร่วมโครงการวิจัย'
        ) {
          role = true
        } else {
          role = false
        }
      })
      if (role === true) {
        return false
      }
      return true
    },
    description(item) {
      this.view = true
      this.participantItems = []
      this.current = new File([item.relatedFile], item.relatedFile, {
        type: 'text/plain'
      })
      this.currentFile = this.current
      this.participantItems = item.participants
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    }
  },
  async mounted() {
    await this.getAllUsers()
  }
}
</script>

<style></style>
