<template>
  <v-container fluid>
    <div>
      <v-layout row wrap>
        <Heading :title="$t('leaves.TITLE')" />
      </v-layout>
      <v-data-table
        :loading="dataTableLoading"
        :no-data-text="$t('dataTable.NO_DATA')"
        :no-results-text="$t('dataTable.NO_RESULTS')"
        :headers="headers"
        :items="items"
        :options.sync="pagination"
        :items-per-page="5"
        class="elevation-1"
        :footer-props="{
          'items-per-page-text': $t('dataTable.ROWS_PER_PAGE'),
          'items-per-page-options': [5, 10, 25]
        }"
        :search="search"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
      >
        <template v-slot:top>
          <v-layout wrap>
            <v-flex xs12 sm12 md4 mt-3 pl-4>
              <div class="text-left">
                <v-toolbar-title>{{
                  $t('myGovernmentItems.LEAVE')
                }}</v-toolbar-title>
              </div>
            </v-flex>
            <v-flex xs12 sm6 md4 px-3>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                :label="$t('dataTable.SEARCH')"
                id="search"
                single-line
                hide-details
                clearable
                clear-icon="mdi-close"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md4 text-xs-right mb-2 mt-2 pr-2>
              <v-dialog
                v-model="dialog"
                max-width="800px"
                content-class="dlgNewEditItem"
              >
                <v-card>
                  <v-card-title class="teal lighten-1">
                    <span class="headline">{{ $t('leaves.DESCRIPTION') }}</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 md12>
                          <v-text-field
                            id="name"
                            name="name"
                            v-model="editedItem.fullname"
                            :label="$t('leaves.NAME')"
                            autocomplete="off"
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <v-text-field
                            id="start"
                            name="start"
                            v-model="editedItem.start"
                            :label="$t('leaves.START')"
                            autocomplete="off"
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <v-text-field
                            id="end"
                            name="end"
                            v-model="editedItem.end"
                            :label="$t('leaves.END')"
                            autocomplete="off"
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <v-text-field
                            id="type"
                            name="type"
                            v-model="editedItem.type"
                            :label="$t('leaves.TYPE')"
                            autocomplete="off"
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <v-text-field
                            id="certificate"
                            name="certificate"
                            v-model="editedItem.certificate"
                            :label="$t('leaves.CERTIFICATE')"
                            autocomplete="off"
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md12>
                          <v-textarea
                            id="description"
                            name="description"
                            v-model="editedItem.description"
                            :label="$t('leaves.DESCRIPTION')"
                            autocomplete="off"
                            readonly
                          ></v-textarea>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="red lighten3"
                      text
                      @click="close"
                      class="btnCancel"
                      >{{ $t('dataTable.CANCEL') }}</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-flex>
          </v-layout>
        </template>
        <template v-slot:items="props">
          <td>{{ props.item.type }}</td>
          <td>{{ props.item.description }}</td>
        </template>
        <template v-slot:[`item._id`]="{ item }">
          <td class="fill-height px-0">
            <v-layout class="justify-center">
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                    id="description"
                    icon
                    class="mx-1"
                    v-on="on"
                    @click="editItem(item)"
                    outlined
                    color="dark"
                  >
                    <v-icon>mdi-file-document-outline</v-icon>
                  </v-btn>
                </template>
                <span>{{ $t('leaves.DESCRIPTION') }}</span>
              </v-tooltip>
            </v-layout>
          </td>
        </template>
        <template v-slot:[`item.start`]="{ item }">
          {{ getFormat(item.start) }}
        </template>
        <template v-slot:[`item.end`]="{ item }">
          {{ getFormat(item.end) }}
        </template>
        <template
          v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }"
        >
          {{ pageStart }} - {{ pageStop }}
          {{ $t('dataTable.OF') }}
          {{ itemsLength }}
        </template>
        <template v-slot:no-data>{{ $t('dataTable.NO_DATA') }}</template>
        <template v-slot:no-results>{{ $t('dataTable.NO_RESULTS') }}</template>
      </v-data-table>
      <ErrorMessage />
      <SuccessMessage />
    </div>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'
import { addYears } from 'date-fns'
export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('myGovernmentItems.LEAVE')} - %s`
    }
  },
  data() {
    return {
      dataTableLoading: true,
      delayTimer: null,
      dialog: false,
      search: '',
      pagination: {},
      editedItem: {},
      defaultItem: {},
      sortBy: 'start',
      sortDesc: true
    }
  },
  computed: {
    headers() {
      return [
        {
          text: this.$i18n.t('leaves.TYPE'),
          align: 'left',
          sortable: false,
          value: 'type'
        },
        {
          text: this.$i18n.t('leaves.DESCRIPTION'),
          align: 'left',
          sortable: false,
          value: 'description'
        },
        {
          text: this.$i18n.t('leaves.START'),
          align: 'left',
          sortable: false,
          value: 'start'
        },
        {
          text: this.$i18n.t('leaves.END'),
          align: 'left',
          sortable: false,
          value: 'end'
        },
        {
          text: this.$i18n.t('leaves.QUANTITY'),
          align: 'left',
          sortable: false,
          value: 'quantity'
        },
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: '_id',
          sortable: false,
          width: 200
        }
      ]
    },
    items() {
      return this.$store.state.adminLeaves.userleaves
    },
    totalItems() {
      return this.$store.state.adminLeaves.userleaves.length
    },
    userId() {
      return this.$store.state.profile.profile._id
    }
  },
  watch: {
    dialog(value) {
      return value ? true : this.close()
    },
    pagination: {
      async handler() {
        try {
          this.dataTableLoading = true
          await this.getUserLeaves(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
        }
      },
      deep: true
    }
  },
  methods: {
    ...mapActions(['getUserLeaves', 'getProfile']),
    getFormat(date) {
      window.__localeId__ = this.$store.getters.locale
      return getFormat(addYears(new Date(date), 543), 'd MMMM yyyy')
    },
    close() {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
      }, 300)
    },
    editItem(item) {
      item = {
        fullname: item.fullname,
        type: item.type,
        start: this.getFormat(item.start),
        end: this.getFormat(item.end),
        quantity: item.quantity,
        description: item.description,
        certificate: item.certificate
      }
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    }
  },
  async mounted() {
    await this.getProfile()
    await this.getUserLeaves(this.userId)
  }
}
</script>
