<template>
  <v-container fluid>
    <v-layout row wrap>
      <Heading :title="$t('tranings.TRAININGS')" />
    </v-layout>
    <div>
      <v-data-table
        :loading="dataTableLoading"
        :no-data-text="$t('dataTable.NO_DATA')"
        :no-results-text="$t('dataTable.NO_RESULTS')"
        :headers="headers"
        :items="items"
        :options.sync="pagination"
        :items-per-page="5"
        :search="search"
        class="elevation-1"
        :footer-props="{
          'items-per-page-text': $t('dataTable.ROWS_PER_PAGE'),
          'items-per-page-options': [5, 10, 25]
        }"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
      >
        <template v-slot:top>
          <v-layout wrap>
            <v-flex xs12 sm12 md4 mt-3 pl-4>
              <div class="text-left">
                <v-toolbar-title>{{
                  $t('tranings.TRAININGS')
                }}</v-toolbar-title>
              </div>
            </v-flex>
            <v-flex xs12 sm6 md4 px-3>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                :label="$t('dataTable.SEARCH')"
                id="search"
                single-line
                hide-details
                clearable
                clear-icon="mdi-close"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md4 text-xs-right mb-2 mt-2 pr-2>
              <v-dialog
                v-model="dialog"
                max-width="1200px"
                content-class="dlgNewEditItem"
                persistent
              >
                <v-card>
                  <v-card-title class="teal lighten-1">
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 md12>
                          <v-text-field
                            id="topic"
                            name="topic"
                            v-model="editedItem.topic"
                            :label="$t('tranings.TOPIC')"
                            autocomplete="off"
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <v-text-field
                            v-model="startDate"
                            :label="$t('leaves.START')"
                            prepend-icon="mdi-calendar"
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                          <v-text-field
                            v-model="endDate"
                            :label="$t('leaves.END')"
                            prepend-icon="mdi-calendar"
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md12>
                          <v-text-field
                            id="location"
                            name="location"
                            type="text"
                            :label="$t('tranings.LOCATION')"
                            v-model="editedItem.location"
                            autocomplete="off"
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 md12>
                          <v-textarea
                            id="description"
                            name="description"
                            type="text"
                            :label="$t('tranings.DESCRIPTION')"
                            v-model="editedItem.description"
                            autocomplete="off"
                            readonly
                          ></v-textarea>
                        </v-flex>
                        <v-flex xs12 md1>
                          <v-btn
                            id="btnfile"
                            class="mx-1"
                            fab
                            dark
                            small
                            color="blue darken-2"
                            elevation="0"
                          >
                            <v-icon>mdi-file-plus-outline</v-icon>
                          </v-btn>
                        </v-flex>
                        <v-flex xs12 md11>
                          <v-file-input
                            chips
                            multiple
                            label="File input"
                            :value="current"
                            disabled
                          ></v-file-input>
                        </v-flex>
                        <v-flex xs12 md1>
                          <v-btn
                            id="btnlist"
                            class="mx-1"
                            fab
                            dark
                            small
                            color="deep-purple darken-1"
                            elevation="0"
                          >
                            <v-icon>mdi-clipboard-account-outline</v-icon>
                          </v-btn>
                        </v-flex>
                        <v-flex xs12 md11>
                          <v-select
                            v-model="selectedLists"
                            :items="selectedLists"
                            item-text="name"
                            item-value="_id"
                            :label="$t('tranings.LIST')"
                            multiple
                            chips
                            readonly
                          >
                          </v-select>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="red lighten3"
                      text
                      @click="close"
                      class="btnCancel"
                      >{{ $t('dataTable.CANCEL') }}</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-flex>
          </v-layout>
        </template>
        <template v-slot:items="props">
          <td>{{ props.item.name }}</td>
        </template>
        <template v-slot:[`item._id`]="{ item }">
          <td class="fill-height px-0">
            <v-layout class="justify-center">
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                    v-on="on"
                    class="mx-1"
                    fab
                    small
                    icon
                    outlined
                    color="dark"
                    elevation="0"
                    @click="description(item)"
                  >
                    <v-icon>mdi-file-document-outline</v-icon>
                  </v-btn>
                </template>
                <span>{{ $t('dataTable.DESCRIPTION') }}</span>
              </v-tooltip>
            </v-layout>
          </td>
        </template>
        <template v-slot:[`item.startDate`]="{ item }">
          {{ getFormat(item.startDate) }}
        </template>
        <template v-slot:[`item.endDate`]="{ item }">
          {{ getFormat(item.endDate) }}
        </template>
        <template v-slot:[`item.file`]="{ item }">
          <a :href="'http://localhost:3000/files/' + item.file">{{
            item.file
          }}</a>
        </template>
        <template
          v-slot:[`footer.page-text`]="{ pageStart, pageStop, itemsLength }"
        >
          {{ pageStart }} - {{ pageStop }}
          {{ $t('dataTable.OF') }}
          {{ itemsLength }}
        </template>
        <template v-slot:no-data>{{ $t('dataTable.NO_DATA') }}</template>
        <template v-slot:no-results>{{ $t('dataTable.NO_RESULTS') }}</template>
      </v-data-table>
      <ErrorMessage />
      <SuccessMessage />
    </div>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'
import { addYears } from 'date-fns'

export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('tranings.TRAININGS')} - %s`
    }
  },
  data() {
    return {
      searchInput: '',
      dataTableLoading: false,
      delayTimer: null,
      dialog: false,
      search: '',
      pagination: {},
      editedItem: {},
      defaultItem: {},
      fieldsToSearch: ['instructor', 'topic'],
      startDate: new Date().toISOString().substr(0, 10),
      endDate: new Date().toISOString().substr(0, 10),
      selectedLists: [],
      current: null,
      sortBy: 'startDate',
      sortDesc: true
    }
  },
  computed: {
    formTitle() {
      return this.$t('tranings.DESCRIPTION')
    },
    headers() {
      return [
        {
          text: this.$i18n.t('tranings.TOPIC'),
          align: 'left',
          sortable: false,
          value: 'topic'
        },
        {
          text: this.$i18n.t('tranings.DESCRIPTION'),
          align: 'left',
          sortable: false,
          value: 'description'
        },
        {
          text: this.$i18n.t('tranings.START_DATE'),
          align: 'left',
          sortable: true,
          value: 'startDate'
        },
        {
          text: this.$i18n.t('tranings.END_DATE'),
          align: 'left',
          sortable: true,
          value: 'endDate'
        },
        {
          text: this.$i18n.t('tranings.FILE'),
          align: 'left',
          sortable: false,
          value: 'file'
        },
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: '_id',
          align: 'left',
          sortable: false,
          width: 200
        }
      ]
    },
    items() {
      return this.$store.state.training.usertrainings
    },
    userId() {
      return this.$store.state.profile.profile._id
    }
  },
  watch: {
    dialog(value) {
      return value ? true : this.close()
    },
    pagination: {
      async handler() {
        try {
          this.dataTableLoading = true
          await this.getProfile()
          await this.getUserTraining(
            this.userId,
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
        }
      },
      deep: true
    }
  },
  methods: {
    ...mapActions(['getUserTraining', 'getProfile']),
    getFormat(date) {
      window.__localeId__ = this.$store.getters.locale
      if (window.__localeId__ === 'th') {
        return getFormat(addYears(new Date(date), 543), 'd MMMM yyyy')
      }
      return getFormat(new Date(date), 'd MMMM yyyy')
    },
    close() {
      this.dialog = false
      this.selectedLists = []
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
      }, 300)
    },
    async doSearch() {
      try {
        this.dataTableLoading = true
        await this.getUserTraining(
          this.userId,
          buildPayloadPagination(this.pagination, this.buildSearch())
        )
        this.dataTableLoading = false
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    buildSearch() {
      return this.search
        ? { query: this.search, fields: this.fieldsToSearch.join(',') }
        : {}
    },
    description(item) {
      this.selectedLists = item.listnames
      this.startDate = this.getFormat(item.startDate)
      this.endDate = this.getFormat(item.endDate)
      this.current = new File([item.file], item.file, {
        type: 'text/plain'
      })
      item = {
        topic: item.topic,
        location: item.location,
        description: item.description,
        listnames: this.selectedLists
      }
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    }
  }
}
</script>
